[2018-02-23 08:18] cezarypiatek opened #1 "Add analyzer to convert invalid assignment to mapping code"
Currently implemented scenarios:
- Invalid assignment
- Invalid return
- Invalid yield return

[2018-03-01 10:26] foxip opened #2 "Support for Visual Studio Community 2015"
Hi, I have a question. Can MappingGenerator be installed on Visual Studio Community 2015?
I got the following installation error:

1-3-2018 11:22:45 - Microsoft VSIX Installer
1-3-2018 11:22:45 - -------------------------------------------
1-3-2018 11:22:45 - Initializing Install...
1-3-2018 11:22:45 - Extension Details...
1-3-2018 11:22:45 - 	Identifier         : MappingGenerator.de964118-68da-48

[2018-03-01 10:32] cezarypiatek commented on #2
I'm not aware of any limitation that could prevent from installing in Visual Studio 2015. I forgot that VS 2015 has version 14.0 not 15.0 so probably changing supported minimal version in VSIX from 15.0 to 14.0 manifest should fix the issue

[2018-03-01 11:31] foxip commented on #2
Hi, i changed it to 14.0 and it does install now.

[2018-03-01 11:41] foxip commented on #2
But the extension does not seem to work.

[2018-03-01 20:43] cezarypiatek commented on #2
I found the old laptop with VS2015 Community and I can confirm that this analyzer unfortunately is not working with this version of VS. This is probably due to the lack of support for current Roslyn version in VS2015. I have no idea how to support both versions of VS without creating another solution based on older  version of compiler SDK. I will keep this issue open but help is needed.

[2018-03-04 19:35] ignatandrei opened #4 "analyze code for added properties"
Support that you have generated code. Then you add another properties. And you want those generated too. And remember where you should add

[2018-03-04 21:12] cezarypiatek commented on #4
Hi
I'm not exactly sure what you wan to accomplish. Could you provide example use case and the code that should be generated for it?

[2018-03-05 16:33] cezarypiatek commented on #4
Hi
Actually I was thinking about something like that at the beginning bu finally I decided not implement that.  Introducing this feature will require marking somehow generated code and tracking the changes in the source and destination types. This will introduce some kind of magic to your project and impose using this tool by every team member. In most cases the generated code probably needs addit

[2018-03-14 15:50] orellabac opened #5 "No License specified"
Hi. I wanted to fork this project, but you have not specified any license.
As a suggestion MIT will be great!! :)

[2018-03-14 16:02] cezarypiatek commented on #4
It looks like there is no will for collaboration only features demanding. Issue closed.

[2018-03-14 16:02] #4 closed

[2018-03-14 16:10] #5 closed

[2018-03-14 20:43] OmiCron07 commented on #4
I will be interested to have errors (solution can't compile) when there are missing properties in mappers. Do you think that you can take inspiration from this: https://github.com/angularsen/roslyn-analyzers#sample

[2018-03-14 20:51] OmiCron07 opened #6 "Generate mapping from generics"
My converters are generics and your generator generate empty methods with these converters.

![code](https://user-images.githubusercontent.com/31325575/37430122-9c253668-27a7-11e8-8b85-9c4cb3e151c7.jpg)

Do you think you can do something about my scenario?

[2018-03-14 21:29] cezarypiatek commented on #6
I've never tried with generic types. I need to investigate that.

[2018-03-14 21:34] cezarypiatek opened #7 "Assign default or invalid values for unmapped fields."
Something like that https://github.com/angularsen/roslyn-analyzers#sample

[2018-03-14 21:35] cezarypiatek commented on #4
Looks interesting. Probably easy to implementation without  tracking changes. I created a new issue for that #7

[2018-03-14 23:39] #6 closed

[2018-03-14 23:42] cezarypiatek commented on #6
I managed to implement that. It's scheduled for the next release. You can test current implementation installing vsix from commit build https://ci.appveyor.com/api/buildjobs/iqexgx6p8djryph5/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

[2018-03-15 13:08] OmiCron07 commented on #7
Just to be clear, I want the analyzer to give me errors when there are new properties that are not in the mapping, because of newly added properties for example. And if some properties are voluntary left unset, we just have to comment these properties out to suppress the errors.

[2018-03-15 13:44] OmiCron07 commented on #6
Nice, it's working with my scenario. Thank you!

[2018-03-15 22:07] davegi opened #9 "Exception in VS2017 Community"
As soon as the 'Generating mapping code" context menu gains focus:

   at MappingGenerator.MappingGenerator.<MapTypes>d__4.MoveNext()
   at System.Linq.Enumerable.WhereSelectEnumerableIterator2.MoveNext()
   at Microsoft.CodeAnalysis.SyntaxList1.CreateNode(IEnumerable1 nodes)
   at Microsoft.CodeAnalysis.CSharp.CodeGeneration.CSharpSyntaxGenerator.AsStatementList(IEnumerable1 nodes)
   at Microsof

[2018-03-15 22:54] cezarypiatek commented on #9
It's really hard to diagnose without example. Please provide code where you are trying to apply generator. (Class definition and mapping method)

[2018-03-15 23:39] davegi commented on #9
Yeah...I figured it would be but was hopeful that the ST would be enough:-).

The Quick Action "Implementation of mapping method can be generated" appears on the first line of the following `.ctor`:

`
public SegmentedString(Option<string> @string)
            : this(string.Empty, @string, string.Empty) {
        }
`

Option is a type defined in the library [lang-ext](https://github.com/louthy/lan

[2018-03-16 06:43] cezarypiatek commented on #9
@davegi you forgot about SegmentedString class definition.

[2018-03-16 07:37] davegi commented on #9
Sorry...I realize that you _asked for_ the class definition but I _read_ `.ctor`...here's the definition:
`

    [Pure]
    public class SegmentedString {
        private readonly string @string = string.Empty;
        private readonly string begin = string.Empty;
        private readonly string middle = string.Empty;
        private readonly string end = string.Empty;

        public SegmentedStr

[2018-03-16 07:55] cezarypiatek commented on #9
Thanks, I will investigate it later.

[2018-03-16 15:58] cezarypiatek commented on #9
It looks like the readonly properties are the culprit. This issue has been fixed on develop branch and new version should be release in few days.

By the way, currently MappingGenerator maps only properties, but not fields.

[2018-03-18 22:27] #9 closed

[2018-03-20 21:07] OmiCron07 opened #12 "Loosing properties"
When using the MappginGenerator, I lose my properties UnitId/InventoryUnitId and Category/UnitCategory:

![image](https://user-images.githubusercontent.com/31325575/37682776-d4d25fdc-2c60-11e8-88e4-620c1b84b858.png)

Is it possible to detect slight variation in property name or at least not overriding the entire method and keeping my unmatched properties?

[2018-03-20 21:59] cezarypiatek commented on #12
I would like to keep mapping rules quite obvious and **"detect slight variation in property name"** could result in complicated logic and the outcome could be far away from expected for different use cases.  The second option with not overriding entire method requires add some merging logic. I was thinking about adding option to assign default value for unmapped target fields which could help to s

[2018-03-21 14:37] OmiCron07 commented on #12
Ok, but the problem is maintainability. No way you generate the mapping once and never change it. Some properties will be added, some will be removed.

I can't imagine having to remove the code, writing target = source,, alt-enter, Generate, each time to update the mapping.

I know the problem is not trivial, but I need a tool to quickly generate mapping code and also, update the mapping efficient

[2018-03-21 14:46] cezarypiatek commented on #12
I don't see the problem with maintainability. In most cases you add or remove single field, so it's not big effort to apply this simple modification manually instead of regenerating the whole mapping. What if in the meantime somebody add custom, non-trivial mapping logic? How am I supposed to detect that and perform merging during regeneration? How to decide if this modification is still valid and

[2018-03-21 17:43] OmiCron07 commented on #12
If the target or source property is already used, skip it?

[2018-03-21 21:27] cezarypiatek commented on #12
sounds simple, and if the method flow is simple (no conditional or loop statements) it could work. Anyway I think it should be registered as separated code fix - with the update purpose.

[2018-03-22 15:52] OmiCron07 opened #13 "Generate splatting from other context"
Can you generate the splatting with other scenarios like  :

From
![image](https://user-images.githubusercontent.com/31325575/37781567-524570f0-2dc7-11e8-8625-376c5c56ef6f.png)
To
![image](https://user-images.githubusercontent.com/31325575/37781646-7b28d502-2dc7-11e8-9b11-473d7ebee32c.png)

[2018-03-22 15:59] cezarypiatek commented on #13
Personally, I'm not using this linq-syntax on the daily basis. In "normal" constructor invocation the splatting should work but there must be some differences in linq syntax. I have to check this.

[2018-03-22 16:05] OmiCron07 commented on #13
You are totally right, just tested and when not in linq, it works. The linq is the culprit.

[2018-03-28 09:53] Serguzest opened #14 "Generate mapping code for Expression<Func<fromType, toType>>"
Hello,

Thanks for the great project. We even [once had tweeting](https://twitter.com/cezary_piatek/status/960890224556601344) about the particular subject before and agreed need of kind of project.

This is a common pattern in my coding which allows me to use the projection in Entity Framework queries.

I think it is a good idea to support that particular use case.

[code]

[2018-03-28 11:56] cezarypiatek commented on #14
As I understand you need to generate mapping expression instead of mapping function, right?

Please check the mapping rules https://github.com/cezarypiatek/MappingGenerator#mapping-rules and tell me which of them are supported by EntityFramework (probably not all constructions can be translated into underlying SQL).

[2018-03-28 13:31] Serguzest commented on #14
Nested properties and and collections are supported. But I don't think you should care about EF though.

My idea is: when your rosyln analyzer sees the pattern

`Expression<Func<T,T2>>  = (T) => new T2{}`
or
`Func<T,T2> = (T) => new T2{}`

It can populate mapping code for T --> T2 with same rules you were using for regular methods.

[2018-04-04 12:25] MohadKamil opened #15 "Extension error with a null exception"
Hi, thanks for the useful extension by the way.

The extension keeps crashing with a null reference exception, this started right after updating visual studio to version 15.6.4, prior versions of visual studio worked just fine with the extension.

Stack trace:
System.NullReferenceException : Object reference not set to an instance of an object.
   at MappingGenerator.SymbolHelper.IsReadonlyPropert

[2018-04-04 16:56] cezarypiatek commented on #15
Hi

Thanks for the feedback. I'm still working on VS 15.5.0 so I haven't had chance to test it on newer version. Could you provide a sample code that cause this exception of code fix?

[2018-04-05 16:02] OmiCron07 commented on #15
I have a lot of null reference exceptions too. VS 15.6.4 and I get a lot of these errors when creating a response :

[code]

[2018-04-05 18:07] cezarypiatek commented on #15
I've installed VS 15.6.5 but I'm unable to reproduce this problem. I would like to help but I need an example code that cause this issue.

[2018-04-06 17:43] OmiCron07 commented on #15
[ClassLibrary5.zip](https://github.com/cezarypiatek/MappingGenerator/files/1885051/ClassLibrary5.zip)

There a repro with a .Net Standard class library, didn't test with a classic class library.

[code]

[2018-04-06 20:48] cezarypiatek commented on #15
@OmiCron07  thanks for the example code which helped me to reproduce the issue. I've prepared the fix but I'm unable to test it because of the issue https://github.com/dotnet/roslyn/issues/25962 This also prevents me from releasing fix for #13

[2018-04-06 20:59] #2 closed

[2018-04-10 18:09] OmiCron07 commented on #15
Does the version 15.6.6 fix the problem? There are no release notes yet.

[2018-04-11 17:32] cezarypiatek commented on #13
My fix seems to work in VS 15.6.6. @OmiCron07  could you confirm that with https://ci.appveyor.com/api/buildjobs/jn23alhhhsptqrbp/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix ?

[2018-04-11 17:49] cezarypiatek commented on #15
The problem seems to persist in 15.6.6 (unlike #13)

[2018-04-30 13:33] ungradge opened #18 "Add simplified object initialization"
If code style rule  "IDE0017 Object initialization can be simplified" enabled (default) in VS, generated mapping code cause the warning occurrence. Maybe it worth to consider implement simplified object initialization or added this feature as an option in the extension configuration.
![map_001](https://user-images.githubusercontent.com/28894060/39429639-274a4b64-4c94-11e8-9faf-8d1213445929.png)

[2018-05-01 07:54] cezarypiatek commented on #18
This is one of the must have feature. Because the mapping can be very complex (with nested object) is's not so easy to implement. Probably it requires refactoring of MappingGenerator class.

[2018-06-25 18:43] cezarypiatek commented on #14
I've managed to make it work. I need few more days to test it and then I will release a new version.
Efect looks as follows
![lambda_mapping](https://user-images.githubusercontent.com/7759991/41869113-4704c6f0-78b8-11e8-8c3c-47a6b5bf308c.gif)

[2018-07-01 10:30] cezarypiatek commented on #14
Available in https://github.com/cezarypiatek/MappingGenerator/releases/tag/1.3.116
@Serguzest I would be appreciate if you could check this new mapping option and let me know if everything works fine.

[2018-07-01 10:30] cezarypiatek commented on #18
Available in https://github.com/cezarypiatek/MappingGenerator/releases/tag/1.3.116
@ungradge I would be appreciate if you could check this new mapping option and let me know if everything works fine.

[2018-07-03 14:30] Serguzest commented on #14
Sorry for the late reply.

I was testing it on a real project. It got stuck on a model and visual studio restarted itself.  It is probably a circular referencing issue.

I isolated the problem for reproducing.

[code]

[2018-07-03 14:38] cezarypiatek commented on #14
How do you imagine mapping code for this circular model?

[2018-07-04 11:33] Serguzest commented on #14
Circular object referencing is a common thing between EF entity types but I don't know if it is supported in projections and my handwritten mapping code wasn't traversing circular.

I think it is safe to assume circular mapping is not a common thing. DTOs usually end up serialized where circular referencing is a big NO there.  JSON.net actually throws exceptions unless you explicitly tell it to ig

[2018-07-04 21:20] cezarypiatek commented on #14
Thanks for clarification. I've made an attempt of implementing this protection. A new version that should handle recursive models is available here https://ci.appveyor.com/api/buildjobs/7sddnmcwf2kp524d/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

I would be appreciate if you could test it.

[2018-07-05 13:12] Serguzest commented on #14
It seems fine to me.

I tested it both for recursion that occurs between immediate nodes and recursion that occurs with one level deeper traversal. It could detect it in both cases. Good job!

[2018-07-05 16:37] cezarypiatek commented on #14
It's good to hear that. Thanks for your help and collaboration. The new version should be released through official channel in few minutes.

[2018-07-05 16:37] #14 closed

[2018-07-05 16:37] #18 closed

[2018-07-29 08:26] alprinias opened #24 "Installed VS Extension... and now what?"
Hi,

I am trying to understand how to use your extension. I installed the vsix in my VS 2017 community and I can see it in my Extensions and Updates (v. 1.3.125). And now? What do I have to do to use it? I cannot see any "Generate Mapping ..." when I hover the yellow light bulbs on the left side of my code window. What am I missing?

Best,
Alex

[2018-07-29 15:06] cezarypiatek commented on #24
Hi

By default MappingGenerator functions should be available in `light bulbs` or by pressing `ctr`+`.`
Could you provide a code that your are trying to treat with MappingGenerator?

[2018-07-29 16:31] alprinias commented on #24
Hi Cezary, thanks for your answer. After installing the extension and a couple of VS restarts, it wasn't showing. After that, I installed a VS update (15.7.5) and now it shows! Who knows what it was...
Thank you !
Alex

[2018-07-29 18:19] cezarypiatek commented on #24
I'm happy to hear that everything works. It's not the first time when one update of VS breaks Roslyn analyzers and another one fix it.

[2018-07-29 18:19] #24 closed

[2018-08-06 17:55] RefX32 opened #25 "Disable or Include an option to disable Message "Implementation of mapping method can be generated"."
At my work, we try to keep our "Messages" to 0 (which mean doing all suggested code fixes). However, on my Messages, I am getting over 200+ "Implementation of mapping method can be generated".

I know I can click on the light-bulb and do "Generate Mapping Code" on methods I actually want to run it on, therefore I prefer not to have 200+ messages telling me "Implementation of mapping method can be

[2018-08-06 19:01] cezarypiatek commented on #25
All MappingGenerator potential "code fix" are reported with Diagnostic Severity set to Info, which means "Information that does not indicate a problem". I think you should configure your report to not to show messages with info severity level.

I need to check if it's possible to convert all analyzers and code fix providers to code refactorings. This probably could solve your problem.

[2018-08-06 19:36] cezarypiatek commented on #25
Ok, looks like the code refactoring is the solution. I only need to figure out how test code refactorings in UT.

[2018-08-06 20:10] RefX32 commented on #25
Sounds great, let me know if I can do anything to help.

[2018-08-06 20:29] cezarypiatek commented on #25
An example of unit test for sample Roslyn code refactoring would be helpful.

[2018-08-06 23:52] RefX32 commented on #25
I'm sorry, I don't think I know how to do this without learning more about Roslyn & VS Extensions. As a purely .NET Core web developer, I've done unit tests, but nothing related to Roslyn code refactoring. Hopefully, someone else can chime in.

[2018-08-08 19:03] cezarypiatek commented on #25
Waiting for

https://github.com/DustinCampbell/RoslynNUnitLight/issues/9

or

https://github.com/phoenix172/RoslynNUnitLight.NetStandard/pull/1

These libraries should help with testing code refactoring providers

[2018-08-14 20:45] cezarypiatek commented on #25
@RefX32  I've converted custom analyzers into code refactorings. Pre-release version with this fix is available here https://ci.appveyor.com/api/buildjobs/b8asa414jcdey7ce/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

Could you test it and tell me if this solves your problem?

[2018-08-15 02:04] RefX32 commented on #25
Hi @cezarypiatek, thanks for the hard work. I've just tested this with version 1.3.139, could you verify if this is the intended version? If so, unfortunately, I am still running into the messages. Please see screenshot below:
![image](https://user-images.githubusercontent.com/33644294/44127919-9f7f7d80-9ff4-11e8-8db6-3a55a68c976b.png)

[2018-08-15 08:41] cezarypiatek commented on #25
Sorry, my mistake, I pasted a wrong link. The correct version should be `1.3.144` Here's the new link https://ci.appveyor.com/api/buildjobs/mectdwx96pibv3eh/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

[2018-08-16 04:01] RefX32 commented on #25
Hmm, I'm unable to install this version on VS 15.8.0. I am getting the following error:
![image](https://user-images.githubusercontent.com/33644294/44186411-19b80e80-a0ce-11e8-9e4f-729bc974e709.png)

Any idea what might happening?

Here is the install log
[code]

[2018-08-16 05:30] cezarypiatek commented on #25
I haven't get notification about update to 15.8 yet and I'm still on 15.7.6 Probably they must broke something in 15.8

[2018-08-17 05:40] RefX32 commented on #25
I've got it installed after a restart. It's working well now. Info messages regarding "Mapping" are now hidden.

[2018-08-17 08:00] cezarypiatek commented on #25
Thanks for verification. I've merged the fix into develop and it should be release in few days through official channels.

[2018-08-17 08:00] #25 closed

[2018-08-23 11:38] phoenix172 opened #30 "Base class properties not mapped"
I have a class ChildModel inheriting from ModelBase which contains an Id property and a class Child inheriting from Entity which also contains an Id property of the same type. When I try to generate a mapping from Child to ChildModel all properties are mapped except the Id property.

It is not difficult to add it manually in my case but if there were more properties it would become a bit annoying.

[2018-08-24 09:00] phoenix172 commented on #30
Child Entity
![image](https://user-images.githubusercontent.com/11656684/44575257-40440c80-a794-11e8-8ed0-95040b3ab178.png)

Person Entity
![image](https://user-images.githubusercontent.com/11656684/44575370-8305e480-a794-11e8-92a7-1387eca321dd.png)

Entity
![image](https://user-images.githubusercontent.com/11656684/44575394-91ec9700-a794-11e8-8c82-a3b68aa67a1d.png)

Child Model
![image](https://u

[2018-08-24 09:36] cezarypiatek commented on #30
Are these classes in the same assembly?

[2018-08-24 10:02] phoenix172 commented on #30
Yes, they are. Just different namespaces.

[2018-08-24 14:39] cezarypiatek commented on #30
Ok, I've just found the culprit, `ModelBase.Id` has setter with `private` modifier. I need to handle this case.

[2018-08-24 20:16] cezarypiatek commented on #30
I've found code that check if two types are from different assemblies but this requires a lot of changes because we need to pass context of code generation
https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions_Accessibility.cs

[2018-08-25 14:46] cezarypiatek commented on #30
@phoenix172 Could you test this version https://ci.appveyor.com/api/buildjobs/v2ooime65b205pff/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix and tell me if all mappings works correctly?

[2018-08-25 15:55] phoenix172 commented on #30
Confirmed working. Nice job and thank you :)

[2018-08-25 15:56] phoenix172 commented on #30
I guess you would want to close this with a commit :)

[2018-08-25 16:02] phoenix172 commented on #30
Oh just found a new problem that I am not sure was present with the old version.

The Generate Mapping option does not appear when the cursor is at the end of the method name.
![2018-08-25_19-00-47](https://user-images.githubusercontent.com/11656684/44620224-41129680-a899-11e8-9833-6920f8c66c23.gif)

If this is not just the new version, I can open a separate issue.

[2018-08-25 21:05] cezarypiatek commented on #30
This problem is not related with the original issue but there is no need to create another ticket. I will check that tomorrow.

[2018-08-26 07:22] phoenix172 opened #31 "Clone object mapping"
It would be nice if there was a straightforward way to create a clone. I know that currently that can be accomplished by creating a mapping that takes and returns the same object, and after that alt-enter -> explicit mapping, but I was wondering if it wouldnt be better to directly generate explicit mapping in the above scenario. Writing a mapping method that takes and returns the same type doesn't

[2018-08-26 08:07] cezarypiatek commented on #31
Great idea, I like it. I will try to implement it.

[2018-08-26 10:02] phoenix172 commented on #30
Works great :)

[2018-08-30 17:33] cezarypiatek commented on #31
Here is my first attempt of implementing refactoring that generate clone method. Would you mind to test it and give me some feedback about results? Version with this experimental feature is available here

https://ci.appveyor.com/api/buildjobs/saey15a33qqlgh92/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

![clone_sample](https://user

[2018-09-05 22:29] michael-wolfenden opened #33 "T H A N K Y O U"
I just wanted to send you a quick note and say thank-you for the work you have done on this project.

It has made my life 💯 easier.

[2018-09-08 20:09] phoenix172 commented on #31
Yeah, sorry been away for a while. Gonna test it when I get to work.

[2018-09-10 12:29] phoenix172 commented on #31
Ok, I tested the new update. It seems good with a few notes:

1. When you try to generate clone method for class that has a base type, the ICloneable interfaces gets placed before the base type, which generates a compile error. Manually fixing it is not difficult, but I think it would be quite easy for you to correct the behavior.

![2018-09-10_15-16-54](https://user-images.githubusercontent.com/1

[2018-09-10 20:15] cezarypiatek commented on #31
Great feedback, thanks a lot!!! I will try to implement your suggestions.

[2018-09-10 21:32] cezarypiatek commented on #31
@phoenix172
According to pt 3 How the complex properties should be mapped: rewriting property by property even if the object implement `ICloneable` interface

[code]

or call `Clone()` method if it's accessible?

[code]

[2018-09-11 07:11] phoenix172 commented on #31
I think utilizing the Clone method if ICloneable is implemented sounds reasonable. After all you are cloning the object and the object is offering a way to clone itself. With that said though, something like an "to explicit mapping" refactoring will be nice to have on the Clone method call.

[2018-09-11 08:47] cezarypiatek commented on #31
Here's the new version that implements all your suggestions https://ci.appveyor.com/api/buildjobs/q2luj7o5s5jstwsw/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

Any feedback is welcome as always ;)

[2018-09-16 12:39] lindeberg opened #34 "Support for Expression<Func<in T, out TResult>>"
Hey! Awesome project. I too thought automapper got in the way in a large project.

I'd like to request a further feature. I'm working a lot with IQueryable projections and within those c# methods aren't really supported as far as I know?

So I make a few mapping expressions like this:
[code]

which I then use like this:
[code]

I cannot find support for this feature atm and would really like to se

[2018-09-16 14:11] cezarypiatek commented on #34
Hi

I'm not sure if I'm understanding requested feature correctly. For me it looks like #14 which has been implemented already. If you expect something different please provide a sample code before and after transformation for better understanding.

[2018-09-16 14:26] lindeberg commented on #34
That's exactly what I was requesting, haha, awesome it's already implemented! Sorry, I just couldnt find it, I didn't which was the right spot to put the cursor i guess. Thanks!!

[2018-09-16 14:26] #34 closed

[2018-09-16 14:37] cezarypiatek commented on #34
No problem, I'm glad I could help you out. I've updated `readme` with example for this functionality.

[2018-09-18 18:55] cezarypiatek commented on #31
@phoenix172 sorry for bothering you, but I'm not sure you got the notification about last update. I would like to release this feature in few days.

[2018-09-20 15:10] cezarypiatek commented on #31
Thanks for information and your time. I'm really appreciate.

[2018-09-20 15:10] #31 closed

[2018-09-20 17:32] cezarypiatek opened #38 "Improve naming for lambda parameter in collection mapping"
1) Convert plural to singular form

[code]

2) Use lambda parameter name as a prefix

[code]

3) Use `item` for lambda parameter name for generic collection name

[code]

4) Convert plural to singular from name postfixed with generic collection name

[code]

[2018-09-20 20:06] #38 closed

[2018-10-04 19:39] aeslinger0 opened #43 "Generate as extension methods?"
Looks like a great tool. I think a good enhancement would be to generate the mapping code as an extension method.

`userEntity.ToUserDTO()`

[2018-10-04 19:50] cezarypiatek commented on #43
Hi

Thanks for suggestion. I have a few questions on start: where the extension method should me added? Should I generate a separated static class? How the class should be named?

[2018-10-04 19:59] aeslinger0 commented on #43
Actually, I should be able to use [your first example](https://github.com/cezarypiatek/MappingGenerator#generate-mapping-method-body) to generate the extension method body and then I can just add `this` before the parameter manually. But I'm not able to get your extension to work. I'm using VS Community 2017. Is that supported?

[2018-10-05 05:45] cezarypiatek commented on #43
I've just tested it on extension method and it works. I'm using Visual Studio 15.8.4. Make sure that you restarted VS after extension installation. Community version should be supported.

![image](https://user-images.githubusercontent.com/7759991/46517846-8c916a80-c871-11e8-8399-5b028920384d.png)

Please let me know if the restart didn't help (the concrete version of VS would be helpful)

[2018-10-05 17:58] aeslinger0 commented on #43
I tried uninstalling and reinstalling the extension, restarting VS, and rebooting my computer. I was using VS 15.5.1. I updated to 15.8.4 and now it works! Not sure if it was that specific version of VS that wasn't working or if something got corrupted and updating fixed it. Either way, I'm ready to start killing off AutoMapper! I'll let you know if I run into any issues with the extension. Thanks

[2018-10-05 17:58] #43 closed

[2018-10-05 18:08] cezarypiatek commented on #43
As I remember there was an Update of VS which broke the roslyn analyzers, probably I was 15.5.1
I'm glad that you finally managed to make it work.

[2018-10-05 20:45] aeslinger0 opened #44 "Inherited properties not generating"
I have an entity that inherits `Microsoft.AspNet.Identity.EntityFramework.IdentityUser` from `packages\Microsoft.AspNet.Identity.EntityFramework.2.2.1\lib\net45\Microsoft.AspNet.Identity.EntityFramework.dll`. The properties in my entity get mapped, but not the ones from `IdentityUser` such as "Email". Here's what the method starts out as:

[code]

[2018-10-05 21:51] aeslinger0 opened #45 "Enhancement to generate mapping that creates new or updates existing"
I think it'd be useful to allow an additional parameter that is the same as the destination type which could be used to update an existing object if it exists. So, given a signature like this:

[code]
It could generate code like this:

[code]

It should work the same if using an optional parameter:
`public MyEntity Map(MyModel model, MyEntity entity = null)`

What do you think?

[2018-10-06 09:50] cezarypiatek commented on #44
Thanks for reporting. There is a problem with checking visibility of fields in types which are not declared in the source code. I will need to investigate that.  I will let you know when I find the solution.

[2018-10-06 10:36] cezarypiatek commented on #44
@aeslinger0 Here's a new package version that should contains fix for this issue https://ci.appveyor.com/api/buildjobs/mwll3jx0755e5qxv/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

Would you mind to test it and confirm if everything is working as you expected?

[2018-10-09 15:15] aeslinger0 commented on #44
Sorry, I haven't had a chance to test it yet. I will as soon as I'm able to.

[2018-10-18 14:16] aeslinger0 commented on #44
That appears to work, thanks.

[2018-10-18 14:16] #44 closed

[2018-10-18 15:02] cezarypiatek commented on #44
Thanks for testing. It should be released in few  days.

[2018-11-08 12:18] Havret opened #49 "[Feature Request] Fill constructor invocation with fake arguments"
We already have option to generate fake data using object initializer syntax. Having this option active for constructor invocation as well would be great.

[2018-11-08 12:19] cezarypiatek commented on #49
Thanks for suggestion, I will take it under consideration.

[2018-11-08 20:12] brrbtr opened #50 "Can't get Mapping options in Roslyn menu"
I have ReSharper installed, but disabled. Restarted VS 2017. Still no Generate Mapping Code in the Roslyn menu. I verified that the extension appears to be installed. What is required for the Generate Mapping Code to show up ?

[2018-11-08 20:33] cezarypiatek commented on #50
Hi

What exactly version of VS 2018 do you have installed?  Did you restart VS after installing the extension?
Roslyn menu should be triggered with `ctr + .` shortcut.

[2018-11-13 15:11] brrbtr commented on #50
VS Enterprise 2017 (15.8.9)
Yes, restarted.
Here's what I see:
![image](https://user-images.githubusercontent.com/5473194/48422293-ff6ceb80-e723-11e8-88b6-fdf1b8feec78.png)

[2018-11-13 15:42] cezarypiatek commented on #50
Have you tried with the code is correct? Your method signature is invalid - no identifier for method parameter.

[2018-11-13 22:53] brrbtr commented on #50
Yes. I had. (I just tried to spin up an example really quickly and forgot to finish...) In the meantime, my system got updated and rebooted for me (without permission, of course). Now, it seems to be working just fine. Sorry for the bother.

[2018-11-14 06:20] cezarypiatek commented on #50
No problem, good to know that even bugs in OS can break Roslyn analyzers.

[2018-11-14 06:20] #50 closed

[2018-11-24 21:09] cezarypiatek commented on #45
Hi @aeslinger0
Sorry for the delay, I focused on another issue reported by you #44 and totally forgot about this one.
I would like to get back to this subject if it is still a matter.

Could you provide a sample situation when this type of proposed mapping would be useful?

[2018-11-26 18:19] aeslinger0 commented on #45
I think I want to take back this request. I was thinking it would be handy for the mapping function to instantiate a new object if an existing object doesn't exist. Like when you have a "Save" method that would upsert an entity. I now think it's actually better to create the new instance outside of the mapping function versus what I wrote above since you could accidentally create a new instance wh

[2018-11-26 18:19] #45 closed

[2018-12-05 22:09] #49 closed

[2018-12-19 13:12] pug-pelle-p opened #55 "Unable to install VSIX"
When trying to install the VSIX I get the error "Install failed".

[2018-12-19 16:46] cezarypiatek commented on #55
Hi

What version of Visual Studio are you using?

[2018-12-20 09:57] #55 closed

[2018-12-20 12:13] pug-pelle-p commented on #50
I still experience this problem, is there any known fix for this?

[2018-12-20 13:45] cezarypiatek commented on #50
@pug-pelle-p please update VS 2017 to the newest version and restart your computer

[2018-12-21 11:11] cocowalla opened #56 "404 for post in readme"
Your Automapper post, mentioned in the readme, is now a 404:

[https://cezarypiatek.github.io/post/why-i-dont-use-automapper/](https://cezarypiatek.github.io/post/why-i-dont-use-automapper/)

[2018-12-21 11:20] cezarypiatek commented on #56
Hi @cocowalla

It looks like there is problem with github pages. Thanks for information. I'll investigate it later.

[2018-12-21 11:27] cocowalla opened #57 "Error when opening quick actions menu"
I've just installed this extension, but get an error when opening the Visual Studio "Quick Actions" menu, before I've even hit "Generate mapping code". Stack trace:

[code]

I'm on Visual Studio 2017, version 15.9.4.

Before opening the Quick Actions menu, I've typed this stub:

[code]

[2018-12-21 12:20] cezarypiatek commented on #57
Hi

Could you provide your code of `MyDTO` and `MyEntity` classes?

[2018-12-21 13:05] cocowalla commented on #56
All good now (y)

[2018-12-21 13:05] #56 closed

[2018-12-21 13:11] cocowalla commented on #57
Sorry, I had meant to mention, the issue is present even with the most trivial classes:

[code]

But! I just noticed that the issue only presents if I have a stub _without parentheses_. So, this causes the error:

`public static Dto Map(Entity entity)`

Whereas it does work if I add the brackets first:

[code]

[2019-01-04 17:51] paluch82 commented on #50
Hi,
I have Resharper 2018.3.1 and Visual Studio 2017 version 15.9.4. Unfortunately I cannot get the Mapping Generator menu. I tried to restart computer but this didn't help. Do you know how  to fix the issue?

[2019-01-04 19:53] cezarypiatek commented on #50
@paluch82 please provide your code where you expect MappingGenerator options.

[2019-01-05 19:38] paluch82 commented on #50
Hi,

Here is my sample code:
`public class Test
    {
        public class ClassA
        {
            public string Name { get; set; }
            public int Value { get; set; }
        }

        public class ClassB
        {
            public string Name { get; set; }
            public int Value { get; set; }
        }

        private ClassB Map(ClassA a)
        {

        }
    }`
The iss

[2019-01-06 08:37] paluch82 commented on #50
This resolved the issue. Now it works like a charm. Thanks.

[2019-01-08 07:15] cezarypiatek opened #58 "Invalid mapping Nullable<> to Nullable<>"

[2019-01-11 17:42] #58 closed

[2019-01-11 19:20] cezarypiatek commented on #57
@cocowalla
Here's a version with fixed issue. Would you mind to test it and tell me if everything is working as expected?
https://ci.appveyor.com/api/buildjobs/4o5lo4e0ga2a7uy1/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

[2019-01-11 20:03] cocowalla commented on #57
@cezarypiatek excellent, it works as expected 😄

[2019-01-11 20:54] cezarypiatek commented on #57
Thanks for testing.

[2019-01-11 20:54] #57 closed

[2019-01-15 10:56] lindeberg opened #62 "Options won't show up"
Visual Studio 15.9.5

Both objects have a bunch of identical properties.

https://gyazo.com/504fbb92e58c062bdc2e91fa9ab1083d

[2019-01-15 11:45] cezarypiatek commented on #62
Hi

Please try suggestion from this issue https://github.com/cezarypiatek/MappingGenerator/issues/50

Let me know if that help.

[2019-01-15 12:09] lindeberg commented on #62
Worked! Thanks, you rock!

[2019-01-15 12:09] #62 closed

[2019-01-23 08:38] lindeberg opened #64 "Mix constructor arguments and object initializer with parameter object"
Hello! In this image there are lot's of more identical properties to map from command to the new CourseParticipant - only some goes via constructor and it works well. Then I want to object initialize the rest but it won't work.

![image](https://user-images.githubusercontent.com/15940340/51593483-8e4f6e80-1ef2-11e9-80aa-a6c19cfdd3fd.png)

[2019-01-23 21:52] cezarypiatek commented on #64
Hi

The object initializer should handle all properties with public setter or should ignore source properties matched to constructor parameters?

[2019-01-24 14:25] lindeberg commented on #64
I think the latter.

[2019-01-24 17:30] cezarypiatek commented on #64
Tracking what has been already used for mapping is the hardest part, but I will give a try.

[2019-01-25 16:34] lindeberg commented on #64
@cezarypiatek Yes!! It works!! Wow, fast action. Thank you so much.

[2019-02-05 00:55] bseng opened #66 "Support for Visual Studio 2019 beta"
Hi,

First of all congratulate on this amazing plugin!

I just tried to install in visual studio 2019 it said there's a pre-requisite and can't be installed.

Do you know what else do I need to install before installing this plugin?

Thanks,

[2019-02-05 00:58] bseng opened #67 "[Feature request] - Code generation for equals override"
Hi,

Can we have another generate options that generate a compare function.

similar to https://github.com/GregFinzer/Compare-Net-Objects but without the reflection magic.

Thanks

[2019-02-05 06:55] cezarypiatek commented on #66
Hi

I haven't had occasion to test it on VS2019. I guess the VSIX manifest should be adjusted to make it work with VS2019.  https://github.com/cezarypiatek/MappingGenerator/blob/master/MappingGenerator/MappingGenerator/MappingGenerator.Vsix/source.extension.vsixmanifest

I will check that later and let you know if I'm able to release version with VS2019 support.

[2019-02-05 06:58] cezarypiatek commented on #67
Hi

Please check my another plugin https://github.com/cezarypiatek/DDDToolbox which is able to generate Equals method and comparison operators.  Please let me know if that meets your requirements.

[2019-02-08 03:29] bseng opened #68 "[Feature Request] - Enum <-> String"
In the case of attributes with the same name and one is enum while the other one is string, use the enum tryparse and enum description function to do 2 way transform.

[2019-02-08 06:32] cezarypiatek commented on #68
Hi

What is `enum description function` ? Could you provide sample mapping code that you expecting in described situation?

[2019-02-11 22:18] cezarypiatek commented on #66
I've made a few adjustment to the extension manifest. @bseng would you mind to test this version and tell me if everything is working ok on VS2019?
Here's the package with fixed manifest https://ci.appveyor.com/api/buildjobs/gf0jkfskdol78eru/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

[2019-02-11 22:21] cezarypiatek commented on #67
@bseng did you try DDDToolbox? Does this issue still matter?

[2019-02-11 22:50] bseng commented on #67
yeah that plugin looks good. Thanks~

[2019-02-11 22:50] #67 closed

[2019-02-11 23:06] bseng commented on #66
It installs on 2019 beta and works great! Thanks for the quick response.

[2019-02-11 23:06] #66 closed

[2019-02-11 23:35] bseng commented on #68
for example.
[code]

So for string to enum if we can generate the following
` Colors colorValue = (Colors) Enum.Parse(typeof(Colors), colorString, true);        `

ref: https://docs.microsoft.com/en-us/dotnet/api/system.enum.parse?view=netframework-4.7.2#System_Enum_Parse_System_Type_System_String_

[2019-02-12 06:24] cezarypiatek commented on #66
Thanks for the feedback

[2019-02-12 06:28] cezarypiatek commented on #68
Ok, and how to handle Enum -> String conversion? Just simply invoking `ToString()` method?

[2019-02-14 00:16] bseng commented on #68
Yes.

Ref; https://docs.microsoft.com/en-us/dotnet/api/system.enum.tostring?view=netframework-4.7.2#System_Enum_ToString_System_String_

[2019-02-14 06:31] cezarypiatek commented on #68
ok, I will try to make this kind of adjustment to the mapping rules

[2019-02-14 10:08] bseng commented on #68
Thanks a lot for your work.

[2019-02-14 19:48] cezarypiatek commented on #68
@bseng  here's a version with this feature, would you mind to test it? Any feedback is welcome.

https://ci.appveyor.com/api/buildjobs/xognjdrwd41ohp85/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

[2019-02-18 12:00] whopkinscom opened #70 "Just not working in my VS2017 Pro/Community"
Hi Cezary,

I've used your plug-in successfully in a previous contract but though I've installed it, it just doesn't present itself. It shows as installed within the VS Extensions & Updates but that's as much as I get. Any hints to try to resolve it?

I'm running VS2017 Vsn 15.9.7 and get the same issue on the latest Community Edition

Cheers,

Will

[2019-02-18 13:55] cezarypiatek commented on #70
Hi
Please check the hints from the #50 and let me know if this solved the issue.

[2019-02-18 15:47] whopkinscom commented on #70
Thanks. It was the resharper settings re. the lightbulb.

Nice one,

On Mon, 18 Feb 2019 at 13:55, Cezary Piątek <notifications@github.com>
wrote:

[2019-02-18 16:24] #70 closed

[2019-02-22 06:29] cezarypiatek commented on #68
Hi @bseng, did you have an occasion to test this new feature?

[2019-02-23 01:05] bseng commented on #68
I haven't got a chance yet.

[2019-03-04 10:10] wachulski opened #71 "[Enhancement] Synchronization means through attribute like [SyncedMapping] etc."
Right now we have perfect means to create mappings. I'd would be useful too to resync the changes as entities/DTOs evolve over time (cliche, I know).

What about marking types/methods with attributes from e.g. MappingGenerator.Annotations (a dedicated NuGet) [SyncedMapping] to indicate the engine to look for changes and update mappings on the fly? It'd be particularly useful in scenarios when some

[2019-03-04 21:21] cezarypiatek commented on #71
Hi

There is a discussion about this topic #12
The main idea behind the MappingGenerator was to provide a mechanism that scaffold the mapping code and allows to easily adjust it to custom needs. I've never started to implement it because of two reasons:
- Not sure how to handle and preserve "custom adjustment". How to detect if a given mapping is missing or it was intentionally removed?
- Probably

[2019-03-04 22:18] wachulski commented on #71
Thanks for elaborating on this. Custom adjustments can be marked like explicit method extracts as I showed in the example and for omissions one could mark such with an attribute like:
[code]
I know, a bit intrusive. When it comes to performance, we can start with sth as simple as resync button (keyboard shortcut) to resync them all.

The source generators look promising, indeed.

[2019-03-07 03:04] bseng commented on #68
It works great thanks!

[2019-03-07 03:04] #68 closed

[2019-03-07 06:07] cezarypiatek commented on #68
Thanks for your time and the feedback, I really appreciate it.

[2019-03-09 11:17] cezarypiatek commented on #71
I prefer to keep all the mapping information closed to the context as possible. I mean, your proposal has a few flaws:

1) There is no option for controlling mapping if your are not a owner of the sources (for example it's generated or it's shipped as a library)
2) You cannot reuse class with attributes for different mappings.

[2019-03-11 21:47] wachulski commented on #71
1. What about placing attributes in classes you have control over (i.e. for which you generate code for)?
2. Can you provide an example? If you really want your entities/DTOs clean and devoid of special markers, then you can put sth like this at the assembly level:

[code]
or any convention you want.

I understand that syncing all up automatically may be problematic but at least some analyzer util

[2019-03-11 22:00] cezarypiatek commented on #71
I will make attempt to create such analyzer, but this is not gonna happen in this month (quite busy season)

[2019-03-11 22:43] wachulski commented on #71
I know, I wish I could attend your WG.NET talk on Roslyn this month. If you need any help developing such analyzer, I offer my help (well, I'm in TOP 2 of this repo Contributors list 😄).

[2019-03-18 18:22] zpqrtbnk opened #75 "Exception when generating mapping"
I create this code:
[code]
Where `Thing1` and `Thing2` have some properties in common, and other, non-common properties. Oh and they might also have properties matching by name but not by type. And maybe `Thing1` has only parameter-less constructors.

Gettings this exception soon as I hit the generate menu:
[code]

Is it... that I am doing something that I should not do, or is it some kind of anom

[2019-03-18 21:21] cezarypiatek commented on #75
Hi

Could you provide definitions of `Thing1` and `Thing2` classes?

[2019-03-19 08:44] zpqrtbnk commented on #75
Tried to do my homework, using the unit tests in the MappingGenerator project. Been able to narrow it down to
[code]

The non-empty ctor is killing it. Which... kinda makes sense I assume?

[2019-03-19 11:58] cezarypiatek commented on #75
I guess this could be related to the new feature #64 I will take a look at this on the next weekend. Thanks for due diligence.

[2019-03-19 12:33] zpqrtbnk commented on #75
Cool. No rush, enjoy your weekend ;-)

[2019-03-23 13:56] cezarypiatek commented on #75
I was't able to reproduce this issue using your example. Here's the proof

![issue75](https://user-images.githubusercontent.com/7759991/54866957-4d04ff00-4d7b-11e9-954d-0f1f8d550e66.gif)

Can you create a fork with UT that is reproducing the problem?

[2019-03-23 14:16] cezarypiatek commented on #75
Still no luck with reproducing, but probably I've found the culprit. Here's version with the fix https://ci.appveyor.com/api/buildjobs/24v6iq24h1bxu8rx/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

@zpqrtbnk would you mind to install it and verify if everything is working as expected?

[2019-04-02 06:07] zpqrtbnk commented on #75
Arh - got side tracked on other stuff, will try soon as I can

[2019-04-15 14:31] cezarypiatek commented on #75
Thanks @brrbtr  for testing.

[2019-04-15 14:31] #75 closed

[2019-04-17 13:32] Havret commented on #50
I think this should be included in project's ReadMe.

[2019-04-25 14:04] rmaziarka opened #76 "Creating object in factory method"
Hello Cezary,

I tried to use your extension and found out that it lacks one functionality that I wanted to use.

From DTO / command class I want to create an entity. For example from CreateProductCommand I run ToProduct method.:
[code]
Would be able to provide auto-generating data to this constructor? Or maybe where should I find such option in the extension to try to add it on my own.

[2019-04-25 16:00] cezarypiatek commented on #76
Unfortunately this scenario is not currently supported but I think it looks easy to implement it. I will try to add this later.

[2019-04-26 17:11] cezarypiatek commented on #76
Here's the version that contains an implementation of this feature https://ci.appveyor.com/api/buildjobs/pnh37mqxjxakl3ge/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

@rmaziarka Would you mind to test it and let me know if everything is working as expected?

![issue76](https://user-images.githubusercontent.com/7759991/56824410-bbdfe

[2019-04-29 12:10] rmaziarka commented on #76
Works great, thanks :)

[2019-04-29 15:01] #76 closed

[2019-04-29 19:08] cezarypiatek commented on #75
An official version with this fix was released Please install version of the official channel https://marketplace.visualstudio.com/items?itemName=54748ff9-45fc-43c2-8ec5-cf7912bc3b84.mappinggenerator

[2019-04-29 19:08] cezarypiatek commented on #76
An official version with this feature was released Please install version of the official channel https://marketplace.visualstudio.com/items?itemName=54748ff9-45fc-43c2-8ec5-cf7912bc3b84.mappinggenerator

[2019-05-24 19:30] LucaGabi commented on #33
One of the greatest .net projects. Very useful!

[2019-05-24 19:37] LucaGabi opened #79 "Can I use this to generate code at compile time"
Hi,  this is very useful project. I was wondering if I can use this to generate mapping code at build time. Something like a cli with 2 classes source & destination.

Thanks.

[2019-05-25 19:37] cezarypiatek commented on #79
Hi

Maybe this could be possible to implement using this library https://github.com/AArnott/CodeGeneration.Roslyn I need to verify it because this could also solve #71

[2019-06-10 11:46] danielcarlstrom commented on #33
I was gonna buy you a coffee but the [link](https://www.buymeacoffee.com/tmAJLYvWy) is dead, please update for caffeine ;)

[2019-06-12 18:57] cezarypiatek commented on #33
@danielcarlstrom I'm happy to hear that you've found this project useful. In terms of a coffee button - there is something wrong with my account configuration and I need to reach the support. I will let you know when they fix it.

[2019-06-21 12:58] cezarypiatek commented on #33
@danielcarlstrom Amazing Buy Me a Coffe support finally managed to solve my problem and the ☕️  button is back alive!

[2019-06-26 18:38] StillLearnin opened #80 "Set target null if source is null"
I would find it helpful if null checking code was generated along with the mapping code.  Any thoughts on this?

Example:
[code]

or

[code]

[2019-06-26 18:40] StillLearnin commented on #80
I suppose a case could also be made to simply return without setting anything.

[2019-06-26 19:01] cezarypiatek commented on #80
Hi

The problem of the `null` values is much broader but it's worth to discuss it:

- How to detect if the given value could or could not be null. Additional annotations (such as [CanBeNull](https://www.jetbrains.com/help/resharper/Reference__Code_Annotation_Attributes.html#CanBeNullAttribute) or [NotNull](https://www.jetbrains.com/help/resharper/Reference__Code_Annotation_Attributes.html#NotNullA

[2019-06-27 21:01] StillLearnin commented on #80
Been mulling over your reply and the excellent questions it contains.  It does seem that the problem of `null` is much broader than what I first thought.

I generally handle reference type sub-properties using another mapper injected for them.  This means that in my experience the `null` problem will be handled by a sub-mapper.  So leaving sub-properties aside for the moment, I think the question

[2019-08-07 19:49] cezarypiatek commented on #80
Hi
Sorry for the late reply. I was thinking about this problem and I decided to not implement anything related to this null handling. The main idea behind the MappingGenerator is to facilitate a simple scaffolding of mapping method based on the simple and obvious rules and allows to customize generated code. Everybody has different expectations for the null handling and this should be handled by m

[2019-08-07 19:49] #80 closed

[2019-08-07 20:30] StillLearnin commented on #80
Makes sense to me. Thanks for considering it.

[2019-08-19 16:39] jpeg729 opened #83 "Use with vs code via nuget package"
Now that support for roslyn analysers and code fixes has been merged into omnisharp (c.f. https://github.com/OmniSharp/omnisharp-roslyn/pull/1076) I would love to be able to use this with vs code.

Would you consider updating the nuget package?

[2019-08-19 17:19] cezarypiatek commented on #83
MappingGenerator is mainly based on the code refactorings. Is it supported by VSCode?

[2019-08-19 21:07] jpeg729 commented on #83
The pull request I linked to claims to support "roslyn analyzers and code fixes", which suggests that they are supported. However, I only have partial success.

Quick testing with VS Code with dotnet core 2.2 running on linux shows that I can Ctrl+. on a class name and do things like "Generate constructor" and "Generate Equals and GetHashCode...".

More quick testing shows that adding the existing

[2019-08-20 04:35] cezarypiatek commented on #83
Thanks for the research. The current nuget package of MappingGenerator may not be completed (I tried to make it work a while ago but I didn't finish that). I will take a look an that in the free moment.

[2019-08-25 08:36] pedoc opened #84 "when class only one prop not working"
sample code
[code]
but
[code]
it's working

env:
vs 2019 preview 3
win10 1903

[2019-08-25 10:18] cezarypiatek commented on #84
@pedoc  here's a version with a fix for that issue, would you mind to test it? Any feedback is welcome.

https://ci.appveyor.com/api/buildjobs/85h1mcdvbmxv4xaw/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

[2019-08-25 21:09] thall90 opened #85 "Support For JetBrains Rider"
This plugin was an indispensable part of my everyday development while developing using Visual Studio. However, now that I've switched to JetBrains Rider, I really miss the functionality that this plugin provided.

Do you have any intentions of creating a Rider plugin port for this tool?

[2019-08-25 21:18] cezarypiatek commented on #85
Hi,

This is the same problem as with VSCode #83. However, as I know, Rider supports also Code Refactorings from NuGet packages. I will try to release a nuget package with Mapping Generator in the next week. I will let you know when it is ready.

[2019-08-25 21:22] thall90 commented on #85
That's incredible! Thank you!

Also, if there are any contributions that could accelerate this process, I would love to help!

[2019-08-26 16:41] cezarypiatek commented on #85
Ok, I've updated the NuGet package, Can you test it? Especially mapping between collections.

[2019-08-26 16:42] cezarypiatek commented on #83
Ok, I've updated the Nuget package. Can you verify how it works on VSCode?

[2019-08-28 07:21] pedoc commented on #84
@cezarypiatek yes,it'working. thanks

[2019-08-28 17:47] cezarypiatek commented on #84
Thanks. Fixed by #86

[2019-08-28 17:47] #84 closed

[2019-08-29 19:06] thall90 commented on #85
I've added the NuGet package to my project, I'm not seeing any of the context actions. Is the mechanism for generating a mapping different when using the NuGet variant?

[2019-08-29 19:12] cezarypiatek commented on #85
What version of the Rider are you using? Refactoring options should be available in the menu triggered by the `alt+enter` shortcut.

[2019-08-29 19:44] thall90 commented on #85
I'm using version `2019.2`. I'm not seeing any of the mapping function actions in the `alt+enter` menu.

[2019-08-29 20:28] cezarypiatek commented on #85
Can you provide the sample code?

[2019-08-29 20:30] cezarypiatek commented on #85
![image](https://user-images.githubusercontent.com/7759991/63974134-89682400-caac-11e9-9bcd-0a43bce50d71.png)

![image](https://user-images.githubusercontent.com/7759991/63974155-95ec7c80-caac-11e9-80ec-e827b9d1ef8c.png)

[2019-09-01 12:40] jpeg729 commented on #83
Thank you for your efforts, unfortunately I can't make it work on VS Code on Linux and I can't see why.
I'll try on Windows tomorrow.

[2019-09-04 15:24] cezarypiatek commented on #85
@thall90  do you still experience a problem with Rider? I observed that after updating nuget package restart is required to load a new version.

[2019-09-05 21:14] thall90 commented on #85
@cezarypiatek I apologize for the delay in getting back to you. After installing the package and restarting Rider, I am indeed able to access the Mapping actions from the `alt+enter` context menu.

Testing with the following classes:
`
public class TestMapOrigin
        {
            public Guid TestId { get; set; }

            public string TestName { get; set; }

            public bool IsActiv

[2019-09-06 05:08] cezarypiatek commented on #85
@thall90  thanks for your time and confirming that MappingGenerator works on Rider.

[2019-09-06 05:08] #85 closed

[2019-09-06 14:40] OmiCron07 opened #89 "Nullable enum to int?"
I generated the following mapping :

[code]

The field `Definition` is an enum and it has been converted right in an int. But the conversion of the field `Threads`, which is a nullable enum converted to nullable int, is invalid and will likely generate a null exception.

Should has been `Threads = (int?) args.BendingTypeDetail.Threads`

[2019-09-06 16:16] cezarypiatek commented on #89
You are right. Thanks for reporting this issue, I will try to fix it.

[2019-09-06 19:00] cezarypiatek commented on #89
Here is a version with fix: https://ci.appveyor.com/api/buildjobs/r36cais6plavwx9c/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

Would you mind to test it and let me know if everything works according to your expectations?

[2019-09-06 19:18] OmiCron07 commented on #89
Seems all good 👍

[2019-09-06 19:18] #89 closed

[2019-09-24 05:12] cezarypiatek commented on #83
@jpeg729  Here's a very good description of how to use refactorings from VSIX with VSCode. Can you try it and let me know if this actually works for MappintGenerator?

https://www.strathweb.com/2017/05/using-roslyn-refactorings-with-omnisharp-and-visual-studio-code/

[2019-10-07 16:07] p3t3rix commented on #7
I just wanted to add that while the mentioned project does mark these properties it is not possible to abstract this magic comment so that your team members will remember it. I haven't found a sufficient solution for this problem yet.

[2019-10-07 16:26] p3t3rix opened #93 "Possible Code-Generation for TDest Map(TSource source, TDest dest)"
Because Automapper has a similar interface method, it would be nice to generate a mapping with the following method-signature:
TDest Map(TSource source, TDest dest)

At the moment this code suggests a mapping but it looks like this:

[code]

Would it be possible to suggest a mapping generation similar to the mapping if the method wouldn't return something ? Maybe an additional suggestion or a fall

[2019-10-07 16:37] cezarypiatek commented on #93
I'm not sure what's the expected behavior of this type of method. Could you provide a sample implementation?

[2019-10-07 16:44] p3t3rix commented on #93
[code]

Basically the same as the generated mapping for this signature
[code]

The reason why it would be nice to have is that the signature with return-value can be chained, used as input-parameter, etc.

[2019-10-07 17:06] cezarypiatek commented on #93
I'm not convinced about this idea. This kind of method is very confusing. When I see that kind of signature I always need to check the implementation because it's very hard to figure out what the expected outcome should be.  Besides, method chaining makes the debugging very hard. Adding this kind of feature to MappingGenerator would support bad programming practices.

[2019-10-07 21:11] p3t3rix commented on #93
I just wanted to recreate a seamless drop in implementation for an API that already exists that way in automapper. Not really agreeing on the bad code aspect here but ok, fair enough.

[2019-10-07 21:30] cezarypiatek commented on #93
Just out of pure curiosity, could you provide a real-life example of chaining mapping methods?

[2019-10-08 00:27] p3t3rix commented on #93
It's less the chaining and more the return type that is useful, for example you have your ApiController and you can call
[code]
But i guess i can work around the limitation by adapting my BaseMapper a bit. Thanks for your time.

[2019-10-08 00:27] #93 closed

[2019-10-08 05:10] cezarypiatek commented on #93
I would suggest naming mapping method that updates the second parameter just `Update`:

[code]

and split the usage into two separrated lines (do not invoke method inside the parameter):

[code]

In that way, your code will be more readable and easier to understand.

[2019-10-14 11:55] p3t3rix commented on #7
I found another project that does something similar but is not as easily dismissable as a comment:
https://github.com/oliverhanappi/ManualMappingGuard

[2019-10-14 16:55] cezarypiatek commented on #7
@p3t3rix  please forgive me, but is's hard for me to understand what's your problem and your expectation against the solution. Can you elaborate a little bit more and provide examples? I'm currently working on the mechanism to generate mapping implementation during the build - maybe this is what you actually need. You can track the progress here https://github.com/cezarypiatek/MappingGenerator/iss

[2019-10-17 14:26] p3t3rix commented on #7
I have nothing against the solution, i just wanted to list alternatives for people like me that think that an annotation is a cleaner way to express the mapping. At the moment we use the MappingGenerator and the mentioned manual mapping guard together and it works for us.

[2019-10-17 18:17] cezarypiatek commented on #83
Analyzers and CodeFixes should work using NuGet package. Unfortunately, code refactorings - which are used as underlying mechanisms for most of the MappingGenerator features are not supported by NuGet package (Only Rider is able to load refactorings from NugetPackage, not sure about VS - maybe they change something recently).

[2019-11-04 12:16] imtrobin opened #94 "Generate mapping returns new class without mapping - support for field mapping"
Hi, is there some requirements of the map to work? I tried on my class, the "Generate mapping" part just shows new Class () without mapping the members. E.g.

[code]

[2019-11-04 17:05] cezarypiatek commented on #94
Hi @imtrobin,
Can you show YYY and XXX classes' definitions?

[2019-11-05 03:43] imtrobin commented on #94
[code]

[2019-11-05 05:22] cezarypiatek commented on #94
Currently, MappingGenerator is using properties to determine the source and destination of mapping. Is there any particular reason why do you prefer fields over properties?

[2019-11-05 11:10] imtrobin commented on #94
I see. I do not need c# properties get/set so I chose with simple fields since it is always public get/set

[2019-11-05 17:21] cezarypiatek commented on #94
Since C# 3.0, when auto-implemented properties had been introduced, they should be a default choice.
I can't see any specific reason why this language relict should be supported - of course, PR with the implementation of this functionality is welcome.

[2019-11-06 02:09] imtrobin commented on #94
These are just simple classes to map rest requests. I do use properties in other places, where needed.  Will add it to my todo list. I presume you are using reflection so it should fairly easy to get member vars.

[2019-11-06 06:01] cezarypiatek commented on #94
MappingGenerator is not using reflection. It's completely based on the  Roslyn and SyntaxTree analysis.

[2019-11-07 05:58] cezarypiatek commented on #79
@LucaGabi  Here's the working POC https://github.com/cezarypiatek/MappingGenerator/blob/feature/on_build_code_generation/MappingGenerator/OnBuildGenerator/README.md

[2019-11-07 06:59] imtrobin commented on #94
Oh bummer, not familiar with that.

[2019-11-08 09:46] rmszc81 opened #95 "Question: Complex expression mapping"
Consider the following models:

[code]

how can I map the following expression?

[code]

I use this expression like this:

[code]

Thank you.

[2019-11-08 11:21] cezarypiatek commented on #95
Hi

I'm not sure what exactly you want to achieve but you can take a look at this issue https://github.com/cezarypiatek/MappingGenerator/issues/34
 Generating a mapping expression should be supported. MappingGenerator is generating recursive mappings so I would suggest paying special attention to the mapping of related entities in order to avoid n+1 problem when you are operating on `IQueryable<>`

[2019-11-11 07:39] rmszc81 commented on #95
Hi @cezarypiatek,

No, issue #34 doesn't solve my problem at all.

What I need to map, beyond models are Where expressions such as

[code]

and Queryable expressions, such as

[code]

to generate in short the mappings for:

[code]

I want to get rid of AutoMapper too, it's causing me a lot of trouble with these mappings. In short I'm trying to make my research project less dependent as possible fr

[2019-11-11 08:36] cezarypiatek commented on #95
Can you provide an example of code that should be generated?

[2019-11-11 09:55] rmszc81 commented on #95
@cezarypiatek, I have no idea, I just use AutoMapper to map between the expressions from my Application to Domain models just to transport lambda queries, such as where and order by, for example:

[code]

I'm sorry, I'm really no expert on Mapping expressions.

Thanks,

[],

[2019-11-11 11:34] #1 closed

[2019-11-11 11:40] cezarypiatek commented on #7
Instead of setting up default value MappingGenerator should generate a comment with information about unmapped properties.

[2019-11-11 11:43] cezarypiatek commented on #71
I'm not going to implement a synchronization mechanism. If you need a mapping code that is continuously synchronized with models, please take a look at `OnBuild` plugin (#79) that generates mapping code during the build.

[2019-11-11 11:43] #71 closed

[2019-11-11 11:43] cezarypiatek commented on #12
I'm not going to implement a synchronization mechanism. If you need a mapping code that is continuously synchronized with models, please take a look at `OnBuild` plugin (#79) that generates mapping code during the build.

[2019-11-11 11:43] #12 closed

[2019-11-11 12:12] cezarypiatek commented on #95
I guess there are three  hidden operations performed under the hood by AutoMapper:
- filtering (Where())
- sorting (OrderBy())
- projections (Select())

The first two (filtering and sorting) you have to do by yourself and the third one (select()) can be generated by MappingGenerator. The mapping expression it's the exact thing that #34 explains.

In your case, the example code can looks as follows

[2019-11-12 12:11] KinNeko-De opened #96 "Mapping Nullable<bool> to NotNullable<bool>"
Hello.
i tried your extension (Version 1.12.306) at some code. Its great but i think i have found a small issue.

I have a domain object with a nullable bool property and it should be mapped to not nullable bool dto.
This is bad design.. i know that :)

The MappingGenerator generates:

[code]
This code will fail when the nullableproperty is null.
I suggest to use `nullableproperty.GetValueOrDefaul

[2019-11-12 15:23] cezarypiatek commented on #96
Hi,

Current behavior was introduced intentionally. `NullReferenceException` should bring your attention to the discrepancy between the models . If you need a different behavior you should manually adjust generated code - that's the beauty of MappingGenerator.

[2019-11-13 12:33] KinNeko-De commented on #96
Ok. I will get the atttention if i have a good unit test that does boundary tests :)

But i agree that a MappingGenerator is the best concept because you can easily change the code if the result is not what you expected.

[2019-11-13 12:33] #96 closed

[2019-11-13 16:43] cezarypiatek commented on #96
@KinNeko-De  If you are using R#, you can configure static analysis to report all those situations as error

![image](https://user-images.githubusercontent.com/7759991/68784551-0717e680-063d-11ea-9222-6154a8792154.png)

[2019-11-18 18:51] cezarypiatek commented on #95
@rmszc81  can you confirm that my previous commend did or did not answer your question? Is there anything else that I can help you with?

[2019-11-18 18:51] #83 closed

[2019-11-19 02:34] rmszc81 commented on #95
@cezarypiatek sorry, I really forgotten to answer you.

yes, your answer solve a part of my problem but, as my project is working extensively based on the generics technique, I'm being forced to use a framework for this time.

I will research more and see what I can do. For now, I will close the thread since my question is not really easy to answer due to my needs.

Thank you very much!

Regards,

[2019-11-19 02:34] #95 closed

[2019-12-01 17:38] #79 closed

[2019-12-12 19:55] sabsuzuki opened #98 "Great work! Is there a road map for VS for Mac?"
I'd like to thank you for the great extension. Very very useful! I'm wondering if is there a road map for a VS for Mac version.

[2019-12-14 11:56] cezarypiatek commented on #98
Hi,
I have no idea how the support for Roslyn extensions look like on VS for Mac. I've asked about on https://gitter.im/dotnet/roslyn I will let know when get a response.

[2019-12-26 19:21] brikken opened #99 "Support for F#"
Any suggestions how to make this work for F#?

If that's not possible, any plans for supporting F# in the future? I'd be willing to help with implementation.

[2019-12-27 14:16] cezarypiatek commented on #99
F# is not supported by the Roslyn (it has own compiler service) so the whole MappingGenerator should be totally rewritten to handle F#.  For now, there is no plans to do that but I leave this issue open to see if there are more people interested in this subject.

[2020-01-10 06:10] Eldar1205 opened #100 "Question: applying new fields to the mapping?"
Hi,
I've read your blog post for why use compile-time mappings instead of AutoMapper and I agree with your claims against it mostly, however there's one thing important for me to use AutoMapper for I wonder if this Roslyn mapper solves. Let's say we have types UserDTO and UserEntity, and we generated a mapping. Now someone adds field "Locale" to both UserEntity and UserDTO and forgets the mapping(

[2020-01-10 19:32] cezarypiatek commented on #100
Hi @Eldar1205
I wrote another blog post about using MappingGenerator to create mappings that are auto-synchronized during the build time https://cezarypiatek.github.io/post/generate-mappings-on-build/  This should solve your problem. Creating an analyzer that reports missing mappings is a quite complicated task and this will cause problems in cases when you adjust generated mapping afterward.

[2020-01-11 09:01] Eldar1205 commented on #100
Nice nice nice! Thank you very much :)
I'd like to say that your SmartCodeGenerator I'll definitely look into,
wanted simple build-time code generation for a while.
Regarding how you support extensibility for the generated mappers, virtual
methods is great idea, the only it lacks that I can think of is the ability
to customize the constructor call, which is the only way to initialize
certain prope

[2020-01-11 17:13] cezarypiatek commented on #100
What kind of `constructor invocation` customization we are talking about here? Could you provide a sample code that depicts your expectations?

[2020-01-11 17:40] Eldar1205 commented on #100
It's a general statement that if one of classes has a constructor that the
mapping generator can't implement for some reason then the entire mapping
method needs to be coded instead of replacing one line. With AutoMapper
it's possible to provide a factory method which is nice, but I digress; I
still find the build-time auto-mapper an idea worth leveraging where
possible, maybe use AutoMapper as su

[2020-01-11 17:49] cezarypiatek commented on #100
Regarding the question about `cloning` - yes, MappingGenerator is supporting identity mappings. You need to declare a method with the signature as follows (names doesn't matter)

[code]

[2020-01-11 17:58] Eldar1205 commented on #100
Awesome thanks! I'll check it out, make sure it copies arrays and deep
clones nested properties even though they share the same type, thanks!

‫בתאריך שבת, 11 בינו׳ 2020 ב-19:49 מאת ‪Cezary Piątek‬‏ <‪
notifications@github.com‬‏>:‬

[2020-01-23 12:05] axelheer opened #101 "Complete LINQ selects"
Is there a way to complete LINQ statements too?

[code]

Currently, I get the options "Initialize with sample values" and "Initialize with local variables".

Some kind of "Initialize with 'p'" would be very nice.

Awesome project, btw.

[2020-01-23 12:10] axelheer opened #102 "Update lambdas"
Is there a way to complete lambdas too?

[code]

A workaround would be to extract an update method first:

[code]

And then let *MappingGenerator* do its magic within `Update`.

Having this magic within the lambda itself would come in very handy.

[2020-01-23 15:50] cezarypiatek commented on #102
Hi, can you provide an example of the expected code that should be generated?

[2020-01-23 15:54] cezarypiatek commented on #101
I've never worked with this LINQ syntax (always prefer extensions methods). I will take a look at the possibilities of implementing it and I will let you know if it's doable.

[2020-01-23 16:18] axelheer commented on #102
[code]

[2020-01-23 22:40] cezarypiatek commented on #101
@axelheer
 Ok, I've got a working POC. I will try to complete the implementation over the weekend. Could you provide more examples with `let, `join`, `group by` and query continuations for testing purposes?

[2020-01-24 09:36] axelheer commented on #101
Wow, that rocks. 🥇

I wouldn't expect it to work with more complex queries, but I looked for examples within some projects I'm involved in, which are too much verbose. Thus, I've written some examples using a simple n:m relation and a semantic relation too, which should cover those four use cases.

[code]

Hope this helps.

[2020-01-24 20:39] cezarypiatek commented on #101
With such cryptic variable names it's impossible to create matches as you showed in the examples.

For example, this code can be generated when you change `r` to `lastRequest`
[code]

[2020-01-24 23:05] cezarypiatek commented on #101
@axelheer axelheer

Here's a pre-release version supporting `linq` queries. I've also added support for matching against lazy variable's names aka `acronym expanding` ;) Simply speaking - now it's possible to match `LastRequestTimeStamp` with `lr.TimeStamp`. Could you install this version and test if it works according to your expectations?

https://ci.appveyor.com/api/buildjobs/dtwacye299lpxg98/a

[2020-01-25 05:22] axelheer commented on #101
❤️ **Acronym expanding** ❤️

Installing it will be the first thing on Monday morning, when I'm back at work.

Thank you!

[2020-01-25 20:26] cezarypiatek commented on #98
I haven't got any response so probably there is no option to easily port it. I'm closing this issue.

[2020-01-25 20:26] #98 closed

[2020-01-25 20:28] #99 closed

[2020-01-25 21:39] cezarypiatek commented on #102
Here's a pre-release version with the implementation of the requested feature https://ci.appveyor.com/api/buildjobs/8v29nu5lhugmgo5h/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

![image](https://user-images.githubusercontent.com/7759991/73127630-86be1c00-3fc3-11ea-8c6c-4452cfb1e111.png)

It also contains a couple of improvements for

[2020-01-27 07:48] axelheer commented on #102
#102 as well as #101 work like a charm!

I've deleted some mapping code and was able to re-generate it using your tool. Except some business logic, calculations, aggregations and the like... of course. That should be a huge "dull-saver"!

Thanks a lot, I'm pumped. 😲

[2020-01-27 17:08] #101 closed

[2020-01-27 17:10] cezarypiatek commented on #102
I've just made an official release with #102 and #101. Please install a new version from the marketplace to make sure you will get automatic updates/notifications in the furture. https://marketplace.visualstudio.com/items?itemName=54748ff9-45fc-43c2-8ec5-cf7912bc3b84.mappinggenerator

[2020-01-27 17:10] #102 closed

[2020-02-03 18:34] vanashimko commented on #7
@cezarypiatek when doing "add parameter" refactoring using Rider/ReSharper, TODO "variable" is used for a new parameter. It leads to compilation error and brings attention to places which require fix.

Does it make sense to follow this approach in MappingGenerator?

For example:

[code]

[2020-02-03 20:12] cezarypiatek commented on #7
Hi @vanashimko,
I'm using Data-Driven approach for testing MappingGenerator.  I think this is quite expected that a lot of tests can fail when you change one of the fundamental behavior. I don't know why there are unmapped fields in the expected outputs - some of them may be intentional and maybe some of them are caused by the potential errors in MappingGenerator. I think this requires an individu

[2020-02-04 05:21] vanashimko commented on #7
Thanks for quick response, @cezarypiatek! Sorry, I'm a bit confused on what is this issue about.

I thought that TODO fits ok in "assign **invalid** values". And now I see your comment "MappingGenerator should generate **a comment** with information about unmapped properties".

So are you about a comment which does not break code and make it non-compilable (as TODO variable does) and works as a de

[2020-02-04 17:10] cezarypiatek commented on #7
@vanashimko yes, the approach with comments is the preferred one in the default behavior.

[2020-02-22 20:23] alec-anikin opened #104 "Incorrect mapping for structs from dll"
Hi!

It works fine for structs declared in solution but not for external structs.
VS2019, SDK 3.1.102

How to reproduce:
[code]

Generated mapping
[code]

Thank you!

[2020-02-22 20:37] cezarypiatek commented on #104
Just to be sure, the expected mapping code should be as follows?

[code]

[2020-02-22 21:19] alec-anikin commented on #104
For project declared structs now mapping is
[code]
I think both versions are correct: `someStruct: new Protobuf.SomeStruct(value: other.SomeStruct.Value)` or `someStruct: other.SomeStruct` but the second one is simpler especially for multiple constructors cases.

[2020-02-23 02:51] raveneer opened #105 "not support fields?"
I know using {get; private set;} is better than using a field in C# culture.
but just have curious.

[2020-02-23 09:27] cezarypiatek commented on #105
Hi, currently fields are not supported. I'm working on it but I can't promise when this will be released (I need to refactor a couple of things before to keep the codebase still maintainable).  The same issue has been reported as #94

[2020-02-23 09:28] cezarypiatek commented on #94
I'm working on it but I can't promise when this will be released (I need to refactor a couple of things before to keep the codebase still maintainable).

[2020-02-23 09:28] #105 closed

[2020-02-23 09:28] cezarypiatek commented on #105
Close reason: duplicated #94

[2020-02-23 20:56] cezarypiatek commented on #104
@alec-anikin can you show the definition of the `Point` structure? The version from the external library. Does it contain fields or properties?

[2020-02-23 21:06] cezarypiatek commented on #104
I've just tested it with MappingGenerator.OnBuildGenerator 1.13.329 and SmartCodeGenerator.Engine 1.2.9 and I've got the mapping code as follows

[code]
It looks like it's working as expected. Can you send me a solution that reproduces that problem?

[2020-02-24 08:51] alec-anikin commented on #104
It sounds very strange but just add reference to another project from solution and generated code will be broken.

[2020-02-24 17:11] cezarypiatek commented on #104
Ok, I'm able to reproduce the issue but it completely doesn't make any sense to me. Removing reference to Lib project fixes the issue. I need to take a look closer to what's going there.

[2020-02-24 17:59] cezarypiatek commented on #104
It looks like `Microsoft.CodeAnalysis.MSBuild.MSBuildWorkspace` (which is used for loading projects) doesn't play very well with `netstandard` projects. I've made a small test by replacing `MSBuildWorkspace` with https://github.com/daveaglick/Buildalyzer#roslyn-workspaces and it seems to solve the issue but I don't know what the ramifications could be.  I need to run a couple more tests to make su

[2020-02-26 20:18] cezarypiatek commented on #104
Waiting for response https://github.com/daveaglick/Buildalyzer/issues/130

[2020-03-08 11:21] biqas opened #106 "Interface mapping"
Hi,

are also mappings from interface to interface supported, if not would be great if such feature would be available.?

Like: AgileMapper has https://github.com/agileobjects/AgileMapper/issues/163
https://agilemapper.readthedocs.io/Using-Execution-Plans/

[2020-03-08 11:59] cezarypiatek commented on #106
It's not possible to map directly to interface because it's not possible to instantiate an interface. Can you provide a sample of the expected mapping code that should be generated?

[2020-03-08 12:10] biqas commented on #106
Hi,

of course not directly to interfaces.

[code]

Mapping:

[code]

The is just an example not a proposal for the syntax.

[2020-03-08 12:12] cezarypiatek commented on #106
I mean, please provide a sample code that should be generated by MappingGenerator. I'm pretty sure that generating code for generic methods should be supported right now:

[code]

[2020-03-08 12:20] biqas commented on #106
If a property which is expecting a interface, then the mapping code is not able to recognize which instance to use, becasue with Map TDestination you can only provide the instance for the root object. Either the generated mapping code not inlined to it is calling another generated mapping definitions or it should have possibilities to provide all nested instance types.

[code]

[2020-03-08 12:45] cezarypiatek commented on #106
Ok, now I understand. Unfortunately, it's not supported right now by MappingGenerator to provide some hints related to mapping sub-types (sub-properties. Can't promise when this will be implemented.

[2020-03-08 12:49] biqas commented on #106
Cant' you make use of AgileMapper? It seems he has done a lot of work for all of those configurations, the only thing is it is for runtime.

[2020-03-08 20:14] cezarypiatek commented on #106
AgileMapper and MappingGenerator seem to work completely differently (runtime vs design time) so I'm afraid there's nothing in AgileMapper that I can reuse.

I think I can add an option to MappingGenerator to search a function in the current type that can perform a given conversion (let's say we need a `T1->T2` conversion and there is a function with signature `T2 XXX(T1 x)` ) and invoke that meth

[2020-03-14 11:52] biqas commented on #106
Not sure if this would solve all needs, but for simple cases would help.

[2020-03-18 06:57] ichpuchtli commented on #33
HOLY SHIT THANKYOU THIS EXTENSION IS AMAAZING! ❤️❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️  will be sponsoring this work !

[2020-03-20 10:04] michha opened #107 "[Documentation] ReSharper Settings"
ReSharper seems to have moved the related settings (version 2019.3).
![ReSharper Settings](https://user-images.githubusercontent.com/10424767/77153577-44342f80-6a9a-11ea-8c51-ad9003d9f49b.png)

Its probably the best to let the user search for term "bulb" in his ReSharper settings to find the options.
![ReSharper Settings bulb](https://user-images.githubusercontent.com/10424767/77153579-45fdf300-6a

[2020-03-23 20:08] cezarypiatek commented on #107
Thanks, I've updated the documentation

[2020-03-23 20:08] #107 closed

[2020-04-06 20:44] wazowsk1 opened #110 "Mapping not generated on build with grpc service"
When using the GrpcService project, the mappings are not generated on build. When using the extension it works as expected

[code]

I think this is because the Grpc objects are also generated.

The targetType is marked as ErrorType
Kind = ErrorType

Example repository
https://github.com/wazowsk1/GrpcService1/blob/master/GrpcService1/Services/GreeterService.cs

[2020-04-06 21:07] cezarypiatek commented on #110
Hi,
This is a problem with SmartCodeGenerator rather than MappingGenerator plugin. Please take a look at https://github.com/cezarypiatek/SmartCodeGenerator/issues/1
Unfortunately, at the moment there is no solution for that. I'm waiting for a help from guys who work on https://github.com/daveaglick/Buildalyzer

[2020-04-06 21:10] cezarypiatek commented on #110
Duplicates #104

[2020-04-10 18:46] wazowsk1 commented on #110
@cezarypiatek but this is not a project reference problem, there are no project references in this example that are used in the generation part.

I have been playing around a bit and I see two things go wrong.

1. The grpc/proto code generation happens after the smartcodegenerator msbuild step.

when I modify the engine target conditions to
[code]

it will run after the grpc/proto compilation step

[2020-04-10 19:06] cezarypiatek commented on #110
Thanks for the due diligence investigation. I need to verify how roslyn workspace is created and updated with generated code.

Can you try to put proto contracts in a separate project and add it as a reference to the project where you are using MappingGenerator?

[2020-04-10 19:36] wazowsk1 commented on #110
I have put the proto contracts in a separate netcoreapp3.1.

But the result is the same the generated code still only resides in the /obj folder of the separate project.
tested with and without the modification of the msbuild step order

[code]

In branch: seperate-project-for-protos (this branch is without the msbuild step modification)
https://github.com/wazowsk1/GrpcService1/tree/seperate-proje

[2020-04-12 21:57] wazowsk1 commented on #110
I have found the following post on stackoverflow https://stackoverflow.com/questions/42738463/how-to-find-the-obj-directory-for-c-sharp-projects-using-roslyn-msbuildworkspa which pointed me to the following direction.

The /obj intermediate files are not loaded into the project when calling OpenProject on the workspace and there seems to be no option to load these.

So in the Engine, I have added

[2020-04-13 12:45] cezarypiatek commented on #110
Those files that you are loading manually probably comes from the previous compilation so this won't work after `build` clean. The presents of the file in the `obj` directory doesn't mean that it should be included in the compilation, dynamically generated files should be additionally added to the `Compile` collection of the MSBuild.

[2020-04-16 16:30] ericsampson opened #111 "VS Code support may now be possible?"
Does this help address the [original issue](https://github.com/cezarypiatek/MappingGenerator/issues/83#issuecomment-543298726_) that was preventing VS Code support?
https://github.com/dotnet/roslyn/pull/35685
https://www.strathweb.com/2019/04/roslyn-analyzers-in-code-fixes-in-omnisharp-and-vs-code/

I really like MappingGenerator, but a lot of my colleagues are running Mac/VSCode, so until Code wo

[2020-04-17 18:13] wazowsk1 commented on #110
It should work even after a clean, since the generated files are generated before the smartcodegenerator target.

The generated files are indeed added to the Compile collection of msbuild, but this collection is not known to MSBuildWorkspace. Instead of doing a GetFiles() passing the Compile collection to the smartcodegenerator is also possible.

[2020-04-17 20:48] cezarypiatek commented on #110
Sorry for long response time and no specific action so far but right now I'm in the middle of moving into the new apartment and it will take the next two weeks.

Back to the problem, I will try to verify once again why those files are not included in the compilation and if there is no option for that in MsBuildWorkspace then I will expose some option to enable including additional files.

[2020-04-18 11:39] wazowsk1 commented on #110
no problem, look at it when you have time.

In my fork of the SmartCodeEngine you can see my modifications which are so far working for me. I am not sure if this is the best solution, but the only one I found so far. It's not yet tested with multiple projects where the proto contracts are in another project than the mapping code.
https://github.com/wazowsk1/SmartCodeGenerator/tree/add-msbuild-comp

[2020-04-19 13:09] wazowsk1 opened #112 "Feature request: mapping for get only lists"
Could we add a mapping option for get only lists?

It is useful for when an object is doing the list initialization themself and only exposing a getter for the list.
In my case, I am using protobuf/grpc which generates types with only a getter for the list. And filling the list should be done with Add/Addrange, it would be nice if the mapping for this can be generated.

e.g. the following objects

[2020-04-19 13:22] cezarypiatek commented on #112
Right now it's impossible without huge redesign. Mappings for methods with signature `Hello3 MapHello3(Hello hello)` are generated as a single expression. To achieve the same result as you propose a multi-statement output is required. This is on my TODO list but I can't promise if or when this will be implemented.

[2020-04-19 13:31] wazowsk1 commented on #112
@cezarypiatek I can make a pull request of my code (wip), this already generates the above code without breaking any other tests.

[2020-04-19 13:45] cezarypiatek commented on #112
cool, please do that, I will take a look at that

[2020-04-19 14:15] cezarypiatek commented on #110
A new version of `SmartCodeGenerator.Engine` has been released. Please update the package and verify if it works correctly.

[2020-04-19 14:16] cezarypiatek commented on #104
@alec-anikin
A new version of `SmartCodeGenerator.Engine` has been released. Please update the `SmartCodeGenerator.Engine` package and verify if it works correctly.

[2020-04-19 15:15] wazowsk1 commented on #110
[code]

yes works :)

[2020-04-19 15:15] #110 closed

[2020-04-22 05:50] otryshko opened #113 "Feature request: support inheritance hierarchy flattening"
Hi,
In my runtime object-to-storage Dto convertion I need to represent my class hierarchy with a "Type" property, i.e.
[code]
Can I make the Mapping Generator to generate (for RuntimeDto -> StorageDto codepath)
[code]
and (for StorageDto -> RuntimeDto codepath)
[code]

[2020-04-22 07:00] cezarypiatek commented on #113
Hi,

It looks like a very custom logic. If you have multiple mapping pairs: (RuntimeDtoA, StorageDto), (RuntimeDtoB, StorageDto) then you should prepare an empty method for each pair and then use MappingGenerator to generate them. A method responsible for deciding which specific mapping method to invoked should be implemented manually.

[2020-04-22 13:16] spmoran-blazor opened #114 "Conditional mapping"
Hi. How can we do condition mapping to handle nulls into a dto? Is there any real documentation?

[2020-04-22 18:53] cezarypiatek commented on #114
Hi,
Can you provide a sample definition of the source and destination types and expected mapping code as well?

[2020-04-25 15:37] spmoran-blazor commented on #114
This was more about how to handle nulls inside nested objects. I decided to do null checks in the objects and and set variables based on the results instead of directly referencing entity.whatever. That works fine. You can close this if you like. Thanks for this great tool!

[2020-04-25 19:53] bugrakosen opened #115 "This slows the VS2019 down and now working."
![mapping](https://user-images.githubusercontent.com/32344242/80289345-7b0afe80-8746-11ea-9d6c-3ca70d9519f4.jpeg)

When i click "Initiliaze with local variables" or "Initiliaze with sample values" gets stuck like same as in the picture with  every model in my project. And when extension enabled on VS2019 excessively reduces performance.

I've already tried reinstall.

VS2019 version  : 16.5.4

Thi

[2020-04-26 12:50] #114 closed

[2020-04-26 20:48] cezarypiatek commented on #115
Hi, can you provide a sample code on which this refactoring causes the described issue?

[2020-04-26 21:03] bugrakosen commented on #115
Here is sample codes.

[code]

[code]
[code]

[code]

[code]

My project line count is over than 50.000 lines.
When i install mapping generator on 40.000 lines. And it works fine. However, as the number of lines increased, visual studio started to slow when Mapping Generator enabled.

[2020-04-26 23:56] M-Clk commented on #115
I have the same issue too. When i run the tool it is working and finally it recommending me this(also it is taking long time):

But i have to do it because of table relations on entity framework.
Is there a option to set a deep value for mapping to prevent this problem?
These are my classes:
[code]

[2020-04-27 13:11] cezarypiatek commented on #115
@bugrakosen, thanks for providing sample code. Honestly, I will have time around the weekend to take a look at this issue.

In terms of large codebase - IMHO tools should never support that because this will be a countenance for bad practices. My advice is to keep the codebase as small as possible - extract as much as possible to external packages.

[2020-04-28 14:03] alec-anikin commented on #104
It works fine! Thank you!

[2020-04-28 14:03] #104 closed

[2020-04-29 13:39] surgicalcoder opened #116 "Exception when clicking on tooltip - constructors"
Exception:

[code]

Method:

[code]

Source object is Microsoft.AspNetCore.Identity.UserLoginInfo

Destination object is:

[code]

If I comment out the constructors, it generates without an issue.

[2020-05-05 20:39] cezarypiatek commented on #116
Sorry for the late response, I've been offline for a while. Can you provide the definition of `UserLoginInfo` and `Entity` as well?

[2020-05-05 22:42] surgicalcoder commented on #116
Sure, UserLoginInfo is from Microsoft.AspNetCore.Identity:

    public class UserLoginInfo
    {
        public UserLoginInfo(string loginProvider, string providerKey, string displayName)
        {
            LoginProvider = loginProvider;
            ProviderKey = providerKey;
            ProviderDisplayName = displayName;
        }

        public string LoginProvider { get; set; }
        publ

[2020-05-06 17:21] cezarypiatek commented on #116
Unfortunately, I wasn't able to reproduce this issue. After running MappingGenerator action on your code I'm getting the following output:

[code]
What version of VisualStudio and MappingGenerator are you using? Can you provide a sample project which reproduces this issue?

[2020-05-17 21:55] wazowsk1 opened #119 "Feature request: provide custom mapping for certain types"
In some cases the generated mapping code is not valid due different types.

for example, these two types
[code]
will create the following (invalid) mapping
[code]

Can we extend the MappingInterface like so?
[code]

providing a custom type mapper
[code]
using like so
[code]

and the expected results be like
[code]

given that:
- This only works for the on build generated code
- Custom mapper class

[2020-05-19 21:12] cezarypiatek commented on #119
Maybe I should always wrap those invalid mapping in `MapAToB` method invocation and those missing methods should be provided as partial methods?

[2020-05-20 15:59] wazowsk1 commented on #119
That might even be better yes, then its not only for "on build", like so?

generated code
[code]

implemented partial methods
[code]

in case there are multiple invalid of the same source to target types it should only generate one partial method.

[2020-05-20 19:52] cezarypiatek commented on #119
I need to verify if this is easy to implement and I will let know.

[2020-05-21 11:57] wazowsk1 commented on #119
One thing that might not work with the partial class solution is the following

for timespan it actually currently generates the following mapping, which does compile but is actually incorrect behavior.
[code]

Providing custom mapping upfront, which should be the preferred mapping to use does solve this or some other way to tell the mapping generator that this should be a partial method.

What do

[2020-05-22 19:47] cezarypiatek commented on #119
I can try to combine both ideas by providing configuration options:

[code]

Not sure what's the right name for this flag but I hope you get the gist.

[2020-05-22 21:03] cezarypiatek commented on #119
@wazowsk1 good news, I've just implemented your idea for VS plugin - check my last commit referenced for this issue. I think adding this feature for OnBuildGenerator should be now quite easy.

[2020-05-24 15:26] #116 closed

[2020-05-24 19:09] cezarypiatek commented on #119
I've just released MappingGenerator.OnBuildGenerator.1.15.380 with the requested feature. I've used the named parameter instead of the custom constructor to make the MappingInterfaceAttribute open for further extensions.   A sample usage:

[code]

Please update `MappingGenerator.OnBuildGenerator` and let me know if everything works as you expected.

[2020-05-25 13:12] carlospence opened #123 "Crashing Quick Actions and Refactoring of Visual Studio 16.6"
I just updated to Visual Studio 16.6 and the Quick Actions stopped working, anytime I click on the Quick Actions the error below is displayed. I have update the MappingGenerator to the latest version and still having the same issue. Whenever I disable the plugin, every works as expected.

![MappingGenerator Error](https://user-images.githubusercontent.com/12647064/82815771-c45b8480-9e91-11ea-9f22-

[2020-05-25 13:58] cezarypiatek commented on #123
Hi,

Did you try to restart VS/OS ? Please also try to clear MEF cache with this extension https://marketplace.visualstudio.com/items?itemName=MadsKristensen.ClearMEFComponentCache

Please let me know if that solved the issue.

[2020-05-25 21:50] wazowsk1 commented on #119
I have tested it with my test project and bigger project and it is working as expected 👍

without providing a custom mapper
[code]

with providing a custom mapper
[code]

[2020-05-25 21:50] #119 closed

[2020-05-26 05:38] cezarypiatek commented on #119
Thanks for testing

[2020-05-27 05:44] cezarypiatek commented on #112
@cezarypiatek can you check if the following syntax works correctly? At least it doesn't give me any syntax errors:

[code]

[2020-05-31 10:03] cezarypiatek commented on #106
Mapping with custom conversion has been implemented as part of #119

This should be available under the following option
![image](https://user-images.githubusercontent.com/7759991/83349624-987b4b80-a336-11ea-94d9-6f03579c8f22.png)

[2020-05-31 10:54] cezarypiatek commented on #100
@Eldar1205
If you want to keep tracking of new properties then you can try to use [InitRequired] attribute or `/*FullInitRequired*/` commend marker described here https://cezarypiatek.github.io/post/immutable-types-with-roslyn/

[2020-05-31 10:54] #100 closed

[2020-05-31 17:53] cezarypiatek commented on #94
A new version 1.16.393 with this feature has been released. @imtrobin could you test it and let me know if this works as expected?

[2020-05-31 21:46] #113 closed

[2020-06-01 17:12] Wndrr opened #126 "Support for JetBrain's Rider IDE"
I've moved away from Visual studio a while back and am really interested in the features offered by your plugin. Are there any plans to port to Rider 2020 at any point in the future ?

If not, are you open to pull requests enabling such support ?

[2020-06-01 18:46] cezarypiatek commented on #126
Hi,

Rider is supported by installing MappingGenerator as a nugget package. This is the only way that I know to use Roslyn analyzers/code fixes/refactorings in Rider. If you know something more then I'm of course open to suggestions or pull requests.

https://www.nuget.org/packages/MappingGenerator/

[2020-06-01 21:24] cezarypiatek commented on #111
Hi, this article is about roslyn analyzers. MappingGenerator is built as code refactoring and link to the instruction on how to install code refactorings to VSCode has been provided in the mentioned issue.
https://www.strathweb.com/2017/05/using-roslyn-refactorings-with-omnisharp-and-visual-studio-code/

[2020-06-01 21:24] #111 closed

[2020-06-10 20:07] mrdnote opened #128 "Generate members in empty target class"
Hi, thanks for this wonderful time-saving tool. It's my new favorite VS extension!

Another boring coding job I find myself repeatidly doing is writing out DTO classes which many time have the same members as the entity or model class were filling it from.

Wouldn't it be great if MappingGenerator would generate members, in case the target class is empty?

For example:
![image](https://user-images

[2020-06-11 16:32] cezarypiatek commented on #128
Hi,

I think generating fields for empty types don't add any particular value because you can easily achieve that by copy&paste of type content definition. More interesting would be the option of adding missing fields even if the target already has some (removing differences between types). However, this won't work if target type is not defined in the source code. I will mark this issue as an enha

[2020-06-11 18:31] mrdnote commented on #128
I don't think copy&paste works very well on EF entities:

        /// <summary>
        /// Id of the game
        /// </summary>
        public virtual int Id
        {
            get;
            set;
        }

        /// <summary>
        /// Title of the game
        /// </summary>
        public virtual string Title
        {
            get;
            set;
        }

        /// <summar

[2020-06-11 21:06] cezarypiatek commented on #128
Thanks for bringing this example.

[2020-06-14 17:29] cezarypiatek commented on #128
@mrdnote Maybe in the meantime you will be interested with my another project that seems to solve the problem of synchronizing members between different types. Everything described in my blogpost https://cezarypiatek.github.io/post/csharp-twin-types/#the-solution-extending-c-rules-with-custom-analyzer

[2020-06-16 14:31] mrdavidkovacs commented on #123
Hi,

I have the same problem.

Things I've tried:
- cleared MEF Component cache
- reinstalled the extension
- cleared the temp folder (as suggested)

Nevertheless, I get to following exception: `Microsoft.VisualStudio.ExtensibilityHosting.InvalidMEFCacheException: The Visual Studio component cache is out of date (assembly: MappingGenerator, Version=1.14.356.0, Culture=neutral, PublicKeyToken=null)

[2020-06-16 15:55] cezarypiatek commented on #123
Thanks. I've just reported this issue to Microsoft. I will provide a link to the ticket when I get confirmation.

[2020-06-17 10:54] cezarypiatek commented on #123
https://developercommunity.visualstudio.com/content/problem/1080611/the-visual-studio-component-cache-is-out-of-date-2.html

[2020-06-25 11:42] maleet opened #129 "Dublicate assignement on virtual-override"
`public class BaseModel
	{
		public virtual string Expression { get; set; }
	}

	public class Target : BaseModel
	{
		public override string Expression { get; set; }

		public Target Copy(Target target)
        {
            return new Target()
            {
                Expression = target.Expression,
                Expression = target.Expression
            };
        }
    }`

Generated cod

[2020-06-25 14:07] maleet commented on #129
Not related, but there's another bug-like code example:

[code]

[2020-06-25 18:26] cezarypiatek commented on #129
Good catch! Thanks for reporting this issue.

[2020-06-28 08:50] mrpmorris opened #131 "Unit tests"
I used to write my mappings manually until I started to use AutoMapper.

Preventing me from having to write mapper code wasn't what saved me lots of time though, it was the fact that I could validate that no members have been missed.

Do you have something to cater for ensuring the mappers are up to date with the target and source classes?

[2020-06-28 16:17] cezarypiatek commented on #131
Hi,

For validation in design time, if all members of the target object are assigned, you can use my another extension which is described here [Immutable types in C# with Roslyn](https://cezarypiatek.github.io/post/immutable-types-with-roslyn/) - this can be solved with `[InitRequire]` attribute or  `/*FullInitRequired*/ ` marker.

For runtime validation - you can use tools like https://github.com

[2020-06-29 15:55] cezarypiatek commented on #129
@maleet  should be fixed in v1.16.411 Please let me know if it's working as expected.

[2020-06-29 17:10] #126 closed

[2020-07-02 13:53] robertsundstrom opened #133 "Handle nullable (reference) types"
If the property type is nullable (reference type), handle and generate code that checks for null.

Like with ```Image``` here:

[code]

[2020-07-03 20:27] cezarypiatek commented on #133
How should I handle it when the destination is not nullable? Should I generate throw expression?

[code]

[2020-07-04 13:11] robertsundstrom commented on #133
Yes. I think that it is an acceptable solution.

[2020-07-05 10:20] cezarypiatek commented on #133
After a preliminary assessment, it looks like a quite complex feature. I started working on it but I can't promise when it will be delivered. In the meantime, please consider supporting MappingGenerator project ;)
![image](https://user-images.githubusercontent.com/7759991/86530539-cade1280-beb9-11ea-809e-d0f49c0a734c.png)

[2020-07-12 12:05] robertsundstrom commented on #133
Well. I have bought you a coffee. 🙂  After having used AutoMapper lately, I feel direct code mappings is far more maintainable since it .

When I wrote this issue I was about to write a proposal on how to implement this but I opted not to.

You have to take the ``<Nullable>enable</Nullable>`` flag into consideration when generating the code.

Of the target is nullable (implicitly or explicitly wit

[2020-07-13 21:42] cezarypiatek commented on #133
I think that `<Nullable>enable</Nullable>` MSBuild flag doesn't matter here. The generated code should be shaped by nullability annotations (if they are available). The problem is a little bit more complex because I need to track all property accessors and apply additionally conditional accessor `.?` if it's needed. I'm in the middle of the implementation...

[2020-08-02 09:27] imtrobin commented on #94
Hi cezary, seems to be working well, thanks!

[2020-08-02 09:27] #94 closed

[2020-08-04 05:55] imtrobin opened #134 "Mapping UpdateDTO"
Hi, I'm using newtonjson with a rather obscure [feature](https://stackoverflow.com/a/61532883/283598) for Updating

[code]
Ideally,the mapping generated would be like this

[code]

I'm wondering if mapping generator can generate this kind of mapping code, or is there a better way?

[2020-08-04 20:21] cezarypiatek commented on #134
Hi,

It looks like a custom mapping logic but  I came across on a similar approach while working with protobuf. I think it's wort to implement it but I can't promise any date, right now I'm busy with #133

[2020-08-20 13:42] LaBetonneuse commented on #7
@cezarypiatek, since it's the preferred approach, is it going to be implemented?
Will/does it work both ways, like so (notice the Unmapped2 property) ?:

[code]

Also, the brackets on the AccountDto constructor could be removed (and should be, according to my analyzer).

Thanks for the great work, even though I haven't had the opportunity to try yet because I need all properties to be processed, b

[2020-08-20 21:21] cezarypiatek commented on #7
Against all odds, it's quite a complicated feature to implement. I've made a few attempts but I failed because there are some edge cases that I don't know how to cover.  ` // TODO: ? = Unmapped2` <<-- this one is impossible to implement with the current MappingGenerator design.
Currently, I'm working on #133 which is very complex and time-consuming.  When I finish it I will try once again to deal

[2020-08-23 17:42] LaBetonneuse commented on #7
OK, I'll have a look. Thanks. 😊

________________________________
De : Cezary Piątek <notifications@github.com>
Envoyé : samedi 22 août 2020 09:00
À : cezarypiatek/MappingGenerator
Cc : guillaume; Comment
Objet : Re: [cezarypiatek/MappingGenerator] Assign default or invalid values for unmapped fields. (#7)

For validation in design time, if all members of the target object are assigned, you can us

[2020-08-24 09:15] cezarypiatek commented on #133
@robertsundstrom  Here's a pre-release version with the requested feature. Would you mind to test it and let me know if it works as expected? https://ci.appveyor.com/api/buildjobs/klonxsb0yjs8m3mi/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

[2020-08-25 18:14] robertsundstrom commented on #133
@cezarypiatek OK. I will test it soon!

[2020-08-31 20:07] cezarypiatek commented on #7
@LaBetonneuse Empty constructor brackets have been removed in 1.17.435

[2020-08-31 20:08] cezarypiatek commented on #133
An official version with this feature has been released v1.17.435

[2020-08-31 20:08] #133 closed

[2020-09-01 16:01] NoahStahl opened #136 "Visual Studio exception"
Thanks for this fantastic tool. It's been working well, but I've noticed this issue where Visual Studio periodically encounters an error, which upon inspecting ActivityLog.xml, shows among a few other error lines:

Is there something I can do to resolve this, or provide more info? I'm running VS 2019 Community 16.7.2 with MappingGenerator 1.17.435.

[2020-09-01 17:58] cezarypiatek commented on #136
Hi @NoahStahl
Thanks for reporting this issue. I've just released a fixed version 1.17.437 Could you update to the newest version and let me know if the issue is gone?

[2020-09-01 18:32] NoahStahl commented on #136
Thanks for the quick reply! I installed the update and now see a different error, below.

I can reproduce with the following. Error occurs as soon as `StartsWith()` is entered.
[code]

[2020-09-01 18:39] cezarypiatek commented on #136
What do you mean by " as soon as StartsWith() is entered" ?

[2020-09-01 19:14] NoahStahl commented on #136
Here's a video. Notice the yellow exception notification pop up right when the method parentheses are typed:

https://www.screencast.com/t/6qtmSc4yaH

[2020-09-01 19:49] cezarypiatek commented on #136
It looks like the `MethodParametersSuggestionProvider` is broken or there is an issue with the part of VS responsible for loading suggestion providers. I need to debug it. I will let you know when I find something.

[2020-09-01 20:26] cezarypiatek commented on #136
I not able to reproduce this issue but I suspect it's caused by the local symbols from outside the codebase. Here's a pre-release version with an attempt to fix that issue. Can you install it and check if this works correctly? https://ci.appveyor.com/api/buildjobs/ht21ewfbkabqddcl/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

[2020-09-01 22:24] NoahStahl commented on #136
I was able to narrow the issue down to files that have a `using static` statement. Here's a simple repro solution with a single static class referenced from vanilla Program.cs:

https://github.com/NoahStahl/MappingGeneratorRepro1

[2020-09-02 05:46] cezarypiatek commented on #136
Thanks for the repro-solution. I will check it today later.

[2020-09-02 18:23] cezarypiatek commented on #136
@NoahStahl  I wasn't able to reproduce this issue in a deterministic way but I removed a suspicious code that might cause the problem.  An officially release version 1.17.442 should contain a fix

[2020-09-03 00:48] NoahStahl commented on #136
I can confirm no longer occurs in either my project or the repro solution. Nice work!

[2020-09-03 05:39] #131 closed

[2020-09-03 05:44] cezarypiatek commented on #123
@carlospence @mrdavidkovacs is it still an issue with the latest MappingGenerator and VS 16.7.2?

[2020-09-03 05:45] cezarypiatek commented on #115
@bugrakosen @M-Clk is it still an issue with the latest MappingGenerator?

[2020-09-03 18:40] M-Clk commented on #115
I tested it in a small project and its worked fine. But yes it is the same issue in large project with latest MappingGenerator.  @cezarypiatek

[2020-09-05 20:16] mrdavidkovacs commented on #123
@cezarypiatek
It worked for me yesterday using the latest version of the extension and Visual Studio 16.7.2.
Thank you very much.

[2020-09-05 20:17] #123 closed

[2020-09-07 22:07] bugrakosen commented on #115
I also tested it and it's the same. Thanks @cezarypiatek for your effort. I hope you fix it. When I have time, I'll try to fix this error and contribute.

[2020-09-08 14:40] cezarypiatek commented on #115
@bugrakosen I spent some time looking at it but honestly, I'm not able to spot the culprit. I suspected that this performance issue might be caused by `semanticModel.LookupSymbols` but I found out it's used for IntelliSense by VS so it should be super fast. There are a couple of blocking calls to async API - maybe that's the issue. I will try to get rid of them in the next version of MappingGenera

[2020-09-10 00:58] NoahStahl opened #138 "NullReferenceException on omitted type parameter"
I encountered an issue with a particular case that seems to cause an exception. When entering this line, as example:

[code]

The exception below is thrown. It specifically seems to happen when forgetting the angle brackets and type parameter. Occurs in empty console app, no other conditions or dependencies involved as far as I can tell.

Here's a [short video](https://www.screencast.com/t/Yy9MElf

[2020-09-12 08:15] cezarypiatek commented on #138
Hi @NoahStahl
Thanks for reporting this issue. I will let you know when the fix is ready.

[2020-09-12 15:17] cezarypiatek commented on #138
Should be fixed in 1.18.448. Would you mind to test it and let me know if the problem disappeared?

[2020-09-12 15:48] MatthewSteeples opened #140 "Source Generators"
Coming with the .NET 5 wave, I think this extension would fit in really well with that so that mappings are generated at compile time. This would ensure they are always up to date, don't need to be checked in to source control etc while still maintaining the simplicity and speed of having precompiled code

Is this something you are planning on incorporating, or would you be happy to take a contrib

[2020-09-12 17:04] NoahStahl commented on #138
Thanks! The issue appears resolved once I upgraded to 1.18.448.

[2020-09-12 17:10] cezarypiatek commented on #140
Hi

Yes, I was planning to create a source generator when this technology gets an official release. I guess that `MappingGenerator.OnBuildGenerator` could be quite easily converted to Source Generator.  Any contributions are welcomed.

[2020-09-12 17:10] cezarypiatek commented on #138
Thanks for verification

[2020-09-12 17:10] #138 closed

[2020-09-26 08:55] cezarypiatek commented on #140
I make an attempt to create a SourceGenerator but this is a blocker for me https://github.com/dotnet/roslyn/issues/43821

[2020-09-28 11:15] robertsundstrom opened #141 "Mapping properties of one type on another"
I'm looking for something like this:

[code]

[2020-09-28 11:27] cezarypiatek commented on #141
Please take a look at https://github.com/cezarypiatek/MappingGenerator/issues/93

[2020-09-30 22:56] codewisdom commented on #33
Thanks @cezarypiatek !  This saves so much time.  Much appreciated.

[2020-10-14 13:00] bdaniel7 opened #142 "Inconsistent behaviour"
Thanks for this life saving nuget! :))

I'm using the nuget version with Rider. And in some situations it works, in some, it doesn't.
I use Alt + Enter.

It's ok.

![works](https://user-images.githubusercontent.com/215914/95991436-6f66dd80-0e35-11eb-8f36-c59bad95620e.png)

It should display the __Initialize with local variables__ and use the properties of the class.

![doesnt-work](https://user-im

[2020-10-14 13:38] cezarypiatek commented on #142
Ad1. I need to check that, can you provide a sample solution?
Ad2. "Implement Clone metho" - I don't provide such functionality. You probably confused MappingGenerator with something else.

[2020-10-14 14:19] bdaniel7 commented on #142
Ad2. In the project wiki there is a paragraph
- __Generate ICloneable interface implementation__ - with a gif.

[2020-10-14 16:50] cezarypiatek commented on #142
I don't see any problem with "Implement clone" options, works fine in any "space" configuration.

![5eAmDaeUDq](https://user-images.githubusercontent.com/7759991/96020241-00e24980-0e4e-11eb-8d3c-c386edb556c7.gif)

Tested on Rider 2020.2.1
![image](https://user-images.githubusercontent.com/7759991/96020193-ee681000-0e4d-11eb-8e80-7f01568f80aa.png)

[2020-10-14 16:55] cezarypiatek commented on #142
"Initialize with local values" - this action is using only local variables and method parameters. It's not using enclosing type members. This is the current behavior.

[2020-10-14 16:56] bdaniel7 commented on #142
Ok, I'm getting the menu when I have the cursor on the class name. Previously I had the cursor just at the end of class name.
But when I try to invoke the action, the IDE freezes. I have to close it from Task Manager. I'm using Rider 2020.2.4

[2020-10-14 16:59] cezarypiatek commented on #142
How large is your solution and how complex is the cloned class?

[2020-10-14 17:04] bdaniel7 commented on #142
Some classes have around 750 lines, including curly braces and empty lines. Other classes have 45 or 75 lines, with just 2 to 10 properties.

[2020-10-14 17:11] cezarypiatek commented on #142
does it hang on that sample solution too?

[2020-10-14 17:12] bdaniel7 commented on #142
Nope.

[2020-10-14 17:15] cezarypiatek commented on #142
So I guess this is due to solution size. This problem is already reported here https://github.com/cezarypiatek/MappingGenerator/issues/115

I tried to profile MappinGenerator several times but I wasn't able to find anything suspicions. Without real example I'm not able to diagnose this problem.

[2020-10-14 17:24] bdaniel7 commented on #142
Alright, in the meantime I will try a workaround.

[2020-10-30 08:54] cezarypiatek opened #143 "Implement Clone Method refactoring has issues with arrow functions"

[2020-10-31 18:09] #143 closed

[2020-10-31 18:14] cezarypiatek commented on #115
@bugrakosen @M-Clk might I ask you to test it once again using v1.19.452?

[2020-10-31 18:15] cezarypiatek commented on #142
@bdaniel7 might I ask you to test it once again using v1.19.452?

[2020-10-31 20:39] bdaniel7 commented on #142
First, the compilation for the entire solution become waaay slower - when using ```dotnet watch run```.
Even when just a file is modified.
Which makes the CPU and the fans go crazy...
Then, I got all kinds of warnings that I didn't get before, and that I had to disable with <NoWarn>VSTHRD200,VSTHRD103,VSTHRD002,VSTHRD110,VSTHRD003</NoWarn>.

[2020-11-01 05:26] bugrakosen commented on #115
I've tried and it's the same. I waited for 5 minutes to be initialize variables but it didn't initialize. I think it's not your extension's problem. My models are so nested and project is too big. I'm using your extension on other smaller projects and it works fine. Thank you for effort again. @cezarypiatek

[2020-11-01 10:11] cezarypiatek commented on #142
Thanks for quick reply. It's my mistake, the analyzers were referenced incorrectly, shold be fixed in v1.19.454

[2020-11-10 14:11] Matt-17 opened #145 "Allow different spellings for comparison"
Sometimes I'm missing some mappings for different spelled properties. For example I have in my EF6 DB context something like:
`some_special_ID` and in my own class `SomeSpecialId` it does not match them. Here could be a broader search done (case insensitive and removed _).

Edit - this part is duplicate:
_Also it would be great, if I could choose non-compilable mappings for missing properties like

[2020-11-11 08:31] #141 closed

[2020-11-11 08:34] cezarypiatek commented on #145
Hi @Matt-17

Ad1. I can extend MappingGenerator to handle the case with case sensivity as well as with underscores.
Ad2, Feature with comments for unmapped fields can be tracked here https://github.com/cezarypiatek/MappingGenerator/issues/7

[2020-11-11 08:36] cezarypiatek commented on #128
I decided that this case if out of the scoped of MappingGenerator project. I thing you can resolved it by using MappingGenerator + aftermentioned TwinType attribute

[2020-11-11 08:36] #128 closed

[2020-11-11 08:39] cezarypiatek commented on #142
I'm closing this issue. The case with performance can be tracked here #115

[2020-11-11 08:39] #142 closed

[2020-11-11 09:22] ducmerida opened #146 "Use the existing instance instead of creating a new one"
## With the following code
[code]

## I get the current result

[code]

## I would like to get the folowing code
[code]

[2020-11-11 12:05] cezarypiatek commented on #145
@Matt-17
Here's a pre-release version that contains requested feature. Would you mind testing it and letting me know if it works as you expected?

VSIX:
https://ci.appveyor.com/api/buildjobs/tgci2cl29la6vucj/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

Nuget:
https://ci.appveyor.com/api/buildjobs/tgci2cl29la6vucj/artifacts/MappingGe

[2020-11-11 12:10] cezarypiatek commented on #146
Hi @ducmerida
Thanks for bringing this use case. I can implement it, maybe even as a speared code fix.

In the meantime please consider supporting MappingGenerator project

[2020-11-11 12:17] Matt-17 commented on #145
@cezarypiatek
Thank you for the fast improvement. This works as far as I mentioned it. So great work an consider this as closed so far.  :-)

Only thing I saw, but is probably a new issue are cases like "Enabled vs IsEnabled" or very special cases in Germany with "a" vs "ae" vs "ä".

Anyway, for most database mappings this is a great improvement now. Thank you!

[2020-11-11 12:24] cezarypiatek commented on #145
Can you provide a sample mapping code that illustrate all the cases that you mentioned?

[2020-11-11 14:23] ducmerida commented on #146
@cezarypiatek thanks, I've already bought you a cookee but I will buy 2 more :)

[2020-11-11 15:38] Matt-17 commented on #145
Yes, I try to figure out a bunch of samples. But as mentioned, this is much further than just ignoring uppercase and snake_case. So I suggest, this issue is closed by now and I think about it further (also how it could be solved, since this is definitely not desired behaviour by everybody).

[2020-11-11 16:09] cezarypiatek commented on #146
ohh I didn't know that, I though that the first coffee was from a guy who requested #145. Anyway, I truly appreciate.

[2020-11-11 19:56] cezarypiatek commented on #146
@ducmerida

Here's a pre-release version that contains requested feature. Would you mind testing it and letting me know if it works as you expected?

VSIX:
https://ci.appveyor.com/api/buildjobs/to5ovokll01202r2/artifacts/MappingGenerator%2FMappingGenerator%2FMappingGenerator.Vsix%2Fbin%2FRelease%2FMappingGenerator.vsix

Nuget:
https://ci.appveyor.com/api/buildjobs/to5ovokll01202r2/artifacts/Mappin

[2020-11-11 19:58] #145 closed

[2020-11-11 21:29] ducmerida commented on #146
@cezarypiatek thanks a lot for you quick implementation, I've tried the VSIX and it doesn't work, you have a little error on your code, I leave you a comment on your PR #147

[2020-11-11 22:17] cezarypiatek commented on #146
Thanks for testing and spotting the mistake. Should be fixed now.

[2020-11-12 08:21] ducmerida commented on #146
@cezarypiatek thanks, i confirm that this last VSIX works perfectly :)

[2020-11-12 08:27] cezarypiatek commented on #146
Many thanks for requesting this feature, seems to be very useful, and for your collaboration. I will release an official version today later.

[2020-11-12 16:09] cezarypiatek commented on #145
An official version 1.20.463 with this feature has been released

[2020-11-12 16:10] cezarypiatek commented on #146
An official version 1.20.463 with this feature has been released

[2020-11-12 16:10] #146 closed

[2020-11-16 11:51] WojciechNagorski opened #148 "Generate unit tests"
I know that this issue is a little out of the scope of this project. I've seen https://github.com/cezarypiatek/MappingGenerator/issues/131.

I wanted to change `AutoMapper` to `MappingGenerator` but I have one blocker. I have many profiles in my program (the same situation is in many other projects in my company) and I have one unit test that checks the validation of mapping

[code]

If someone ad

[2020-11-16 16:06] cezarypiatek commented on #148
I'm not familiar with the profiles (or I don't remember it, because  it's been round 6 years since I used AutoMapper the last time). If you want to track unmapped fields then I would recommend trying to use `/*FullInitRequired:recursive*/` marker with my other analyzer described here https://cezarypiatek.github.io/post/immutable-types-with-roslyn/ This should solve the problem at least from the ta

[2020-11-18 20:14] fiseni opened #149 "Suggestion: Scaffold invocation on multiple lines."
The existing feature is really great and useful. Any chance we can get some styling while scaffolding?
Something similar to the usage below. Basically, the ability to scaffold arguments on separate lines.

[code]

I'm not familiar with VS extension eco-system, so I have no idea if this is a trivial thing, or if it requires substantial effort.
I just think would be a really nice feature to have. At

[2020-11-18 20:22] cezarypiatek commented on #149
I will try to look at this over the weekend.

[2020-11-20 09:42] lindeberg opened #150 "Suggestion: Varying sample data"
Today the sample data generated is the same every time. In order to have some more realistic testing data it would be nice to have this sample data vary a bit every time it is generated.

I am using Rider nuget.

[2020-11-20 10:08] coderdnewbie commented on #140
I am a newbie, so forgive me if this does not help. I found this example, that uses syntaxfactory:

https://carlos.mendible.com/2017/03/02/create-a-class-with-net-core-and-roslyn/

The code looks ok, maybe the example could help you if you wanted to change to Syntaxfactory?

I am very new to coding and like your mapping generator a lot, so would love it to work as a source generator.

[2020-11-22 14:23] cezarypiatek commented on #148
@WojciechNagorski  does it answer your question?

[2020-11-23 06:54] WojciechNagorski commented on #148
Yes, We can close this issue. But I'm not sure if this solution is enough. I need to try it.

[2020-11-23 06:54] #148 closed

[2020-11-28 09:00] MortenChristiansen commented on #140
@cezarypiatek I just found this repo because it has the same name as my own - I have been exploring source generators to implement a Map method for a couple weeks now at [this](https://github.com/MortenChristiansen/MappingGenerator) repo, if you're interested. Mind you its not quite ready for production. I guess I'll have to find a different name before I start publishing it as a NuGet package :)

[2020-12-03 09:12] lindeberg commented on #150
Now I have learnt about Bogus and I am no longer as passionate about this feature request

[2020-12-03 18:40] netsharpdev opened #151 "Could not load type 'MappingGenerator.Features.CodeFixes.ExplicitConversionCodeFixProvider'"
Getting this exception every time when I am opening solution.

[code]

[2020-12-04 06:45] cezarypiatek commented on #150
I've made a POC that combines Bogus and MappingGenerate, but it needs to be polished before I publish anything

[2020-12-04 06:46] cezarypiatek commented on #151
Hi,
What version of MappingGenerator and Visual Studio are you using?

[2020-12-04 17:34] netsharpdev commented on #151
MappingGenerator: 1.20.463 and VS: 16.8.2
also using Resharper if it matters. - 2020.2.4

[2020-12-07 22:44] cezarypiatek commented on #151
I'm not able to reproduce the problem and it looks more like a VS bug. According to the error message there's a problem with `'MappingGenerator, Version=1.0.0.0,` - I checked the published VSIX package (as well as recent nuget packages) and it contains assembly with correct version attribute `1.20.463`. What distribution of MappingGenerator are you using? VSExtension or nuget package?  If it's a V

[2020-12-18 15:01] jzabroski opened #152 "How do I "Verify your Roslyn integration option in case you are using R#."?"
I installed MappingGenerator via Nuget package, but I do not get "Generate mapping code" in the context menu when I type <kbd>Control</kbd>+<kbd>.</kbd> with Resharper.

[2020-12-18 15:03] jzabroski commented on #152
This is what I see when I go into R# Options from Visual Studio 2019 16.6.5 menu flow Extensions -> Resharper -> Options
![image](https://user-images.githubusercontent.com/447485/102628715-245c9580-4118-11eb-8148-ef44966b7a13.png)

[2020-12-18 18:25] jzabroski commented on #152
@cezarypiatek I read the rest of the README.  :)  Submitted a PR to clear up that its referring to tip at the bottom of the README by anchoring a link to that section.

[2020-12-18 19:59] jzabroski commented on #151
@netsharpdev Is it possible you have both the nuget package and VSIX extension installed?

@cezarypiatek What happens when that occurs, anyway?  Say I Install the VSIX extension 1.20.463 and a coworker checks in a change with `<PackageReference Include="MappingGenerator" Version="Some.Other.Version" />`, and I take latest and run restore packages.  What happens?

[2020-12-18 20:08] jzabroski commented on #151
I wonder if the MappingGenerator VSIX extension should actually be a MappingGenerator.Locator that, on load, first checks the solution for nuget packages, and instead of providing a Generate mapping code hint, instead providesa "Install MappingGenerator package" hint.

Does that make sense?  It's probably way cleaner because people tend to update nuget packages more often than VSIX extensions in m

[2020-12-19 10:55] netsharpdev commented on #151
@cezarypiatek I had VSIX but repeated your steps and still have the same.
@jzabroski I had no nuget package installed together with VSIX.

Currently, I removed VSIX and installed nuget and it seems to work perfectly fine.

[2020-12-20 19:16] #152 closed

[2020-12-20 19:23] cezarypiatek commented on #151
Hi @jzabroski
The preferred way to "consume" MappingGenerator is VSIX when you are the VS user. The nuget package is intended only for JetBrains Rider IDE user. MappingGenerator is created using CodeRefactoring API. Visual Studio is not supporting code refactoring's distributed as nuget packages - only analyzers and code fixes are supported. On the other hand, Rider doesn't support VSIX but it's a

[2020-12-20 19:48] netsharpdev commented on #151
@cezarypiatek I think i have found an issue. Somehow I had installed two "MappingGenerators" one with 1.9.269 version and another with 1.20.468. I uninstalled the old version and installed once again the latest one and it is fine. I am closing an issue.
![mappinggenerator](https://user-images.githubusercontent.com/25545756/102722906-a01b3580-4304-11eb-88a8-c893d5beef17.png)

This screenshot has be

[2020-12-20 19:48] #151 closed

[2020-12-20 19:57] cezarypiatek commented on #151
@netsharpdev  thanks for letting me know.  Probably 1.9.269 version has invalid package id - this issue was fixed in the past.

[2020-12-21 14:28] jzabroski commented on #151
Got it.  I did not understand there was a difference between "code refactoring" and "code fix."  Seems rather baroque but Visual Studio tends to have baroque policies.

[2020-12-21 19:56] cezarypiatek commented on #151
Code fixes are a kind of "refactoring" that are suggested for reported diagnostic. The code refactorings are not connected with the diagnostics. That's the main difference. There's also a difference how VS is handling those two types of roslyn extensions, which I described in my latest comment about that.

[2020-12-21 20:38] jzabroski commented on #151
Thank you.  I'm still a newbie and trying to write my first set of analyzers/code fixes, so your explanation helps correct some knowledge gaps.  Very appreciated.

[2020-12-29 08:34] LucaGabi opened #154 "VSCode extention ?"
Hi, this article here states that this tool works also with vscode:

https://guidnew.com/en/blog/mapping-generator-design-time-alternative-to-automapper/

![image](https://user-images.githubusercontent.com/37976898/103270788-74ade000-49c1-11eb-9509-8c191cf8abd9.png)

I that true ?

[2020-12-29 09:00] cezarypiatek commented on #154
Hi @LucaGabi

If you are interested in using MappingGenerator with VSCode then please take a look at
https://github.com/cezarypiatek/MappingGenerator#vscode

Any feedback is welcome.

[2021-01-03 16:01] #154 closed

[2021-01-04 10:11] coderdnewbie commented on #150
Have a look at AutoBogus as well, which should help you, it uses bogus, and should make things easier.

[2021-01-20 13:58] antmeehan opened #161 "ValueCollection appears to cause crash on Quick Action"
**Mapping Generator Version**
v1.21.15

**Mapping Generator distribution**
VSExtension

**IDE type and version**
Microsoft Visual Studio Professional 2019
Version 16.8.4
VisualStudio.16.Release/16.8.4+30907.101

**Describe the incorrect behavior**
When invoking the Quick Action menu on a CS0029 C# Cannot implicitly convert type squiggle which is a `Dictionary<T,K>.ValueCollection` the MappingGener

[2021-01-20 23:04] cezarypiatek commented on #161
Hi @antmeehan

This should be fixed in v1.22.  Would you mind testing the fix and letting me know it that works for you as expected?

Please also consider supporting MappingGenerator project. Thanks!

[2021-01-21 03:33] antmeehan commented on #161
Thanks @cezarypiatek for the fast response! I'm very impressed with your DevOps process too.

The fix stops the crash now, but the mapping doesn't occur as I would expect. Eg.

[code]

gets changed to:

[code]

But I would expect:

[code]

[2021-01-21 07:05] cezarypiatek commented on #161
HI @antmeehan

Apologies, my mistake. Please check v1.22.1 (should be released shortly)

[2021-01-31 10:46] #161 closed

[2021-02-06 13:20] dominikjeske opened #164 "UnitTest generator?"
**Feature description**
Generate unit test for each property

**Reasoning behind**
This tool is a great time saver for a starting point when writing mappers. It would be nice to have same generator for unit test asserting mapping of each property. For start it seems not important but when we have some logic after generation in the mapper or we would like to protect our code from regression it woul

[2021-02-07 10:32] cezarypiatek commented on #164
Hi @dominikjeske

Honesty, I can't see any value in keeping a separated tests for individual properties. Can you elaborate a little bit more what are the benefits of that approach over having a single test per use case that check all properties?
If you need something that could protect your mappings from the regression then I recommend tools like [ApprovalTests.Net](https://github.com/approvals/Ap

[2021-02-07 18:58] dominikjeske commented on #164
Sometimes first idea is not ideal ;) I have rethinked this again and it would be over engineering;)

[2021-02-07 18:58] #164 closed

[2021-02-09 11:19] Garozh opened #165 "Visual Studio Performance slowing down"
**Mapping Generator Version**
[Current]

**Mapping Generator distribution**
VSExtension/NugetPackage

**IDE type and version**
Visual Studio 2019 16.8.4

**Resharper version**
2020.3.2

Hey there,

first of all that's a really nice expansion i love to use. But when I'm using the Expansion, my Visual Studio is slowing down hard. The editor and menus can't be used properly anymore bcs of the lag tha

[2021-02-09 11:52] cezarypiatek commented on #165
Duplicate #115

[2021-02-09 11:52] #165 closed

[2021-02-15 07:06] MisinformedDNA opened #166 "Fix NuGet package OnBuildGenerator"
**Mapping Generator Version**
[Current]

**Mapping Generator distribution**
NugetPackage

**IDE type and version**
Visual Studio 2019 16.8

**Describe the incorrect behavior**
The `MappingGenerator.OnBuildGenerator` on NuGet is broken. Running the code from this test case, results in 3 errors, such as

**Describe the expected behavior**
No compilation issues.

**Screenshots**
![image](https://user

[2021-02-15 07:12] cezarypiatek commented on #166
Hi,
The `MappingGenerator.OnBuildGenerator` assembly is not added to project dependencies. You need to copy the attribute definition directly to your source code. Please follow this guideline to set up OnBuildGenerator correctly https://cezarypiatek.github.io/post/generate-mappings-on-build/#generate-mapping-code-on-build

Please let me know if you still have any troubles.

Have a nice day,
Cezary

[2021-02-15 14:26] MisinformedDNA commented on #166
@cezarypiatek Thanks for the response. I get this error when adding `SmartCodeGenerator.Engine`:

[2021-02-15 21:39] cezarypiatek commented on #166
Can you attach a sample solution that reproduces this problem?

[2021-02-16 20:53] MisinformedDNA commented on #166
[MappingPoC.zip](https://github.com/cezarypiatek/MappingGenerator/files/5991586/MappingPoC.zip)

[2021-03-09 07:44] jhf opened #167 "Improve interaction with `[InitRequired]`"
**Feature description**
Make `[InitRequired]` error messages work with generated DTO mapping, by making the mapper use static conversion methods in the target class.

**Reasoning behind**
I really enjoy how `[InitRequired]` provides clear error messages if a property is forgotten. However, when a mapping constructor is used, then there is no error message if some properties are not set, hence the

[2021-03-09 20:50] cezarypiatek commented on #167
Hi @jhf

I need more time to understand what is the real problem that you are facing with.  But there is one important thing: [InitOnly] and [InitRequired] were invented to replace constructors with initialization blocks and you should not mix those two approaches. Use [InitRequired] or constructor, not both.  Another thing, adding constructors that map objects from a different application layer/a

[2021-03-10 12:27] jhf commented on #167
Yes, indeed, but I don't see how the MappingGenerator can detect non constructor code.

Yes, I tried to use [InitRequired] without constructor, but I couldn't get MappingGenerator to detect that mapping function and use it.

Yes, and that is why I wish I could have a a static method - on the target class - or a separate static method, mapping between the classes, in some converter/mapping place, a

[2021-03-10 19:45] cezarypiatek commented on #167
If you put the sub-mapping method in the same class as the one in which you want to use it then it should be used in generated code when you choose "Generate mapping code using member functions"

https://user-images.githubusercontent.com/7759991/110687755-29922380-81e1-11eb-8f70-f422923d70ba.mp4

Does it solve your problem?

[2021-03-10 21:38] cezarypiatek commented on #167
The name of the option might be misleading, this was the best that came to my mind.  If you have a better idea of how this should be named then I'm all ears.

[2021-03-11 10:31] jhf commented on #167
I think the example on the front page could be clearer, and demonstrate that usage.

I also think a skeleton, like I wrote in this ticket, could be of interest, to see how it can be tied together.

The only mention of member methods is the "Updating member method" that is on the DTO class itself,
so a little example would probably clear this up.

Thank you for making these practical tools :-)

[2021-03-12 09:16] cezarypiatek opened #168 "Mapping from nullable structs to simple value handled incorrectly"
1) The `?.Value" suffix seems to be redundant.
2) There is also a problem with casting nullable structs to a simple value

[2021-03-13 12:11] #168 closed

[2021-04-02 19:52] kszicsillag opened #170 "Generating mapping expression for C# 9 positional records"
**Feature description**
I am trying to generate mapping expressions between EF entity model and a DTO model. The DTO model consists of C#9 positional records. I could not generate proper DTO constructor for these expressions using any generation option.

The scenario is same as below, except filling a multi-parameter constructor instead of an initialization block as C# 9 positional records are ini

[2021-04-03 10:33] cezarypiatek commented on #170
Hi @kszicsillag

Thanks for reporting this feature request. I will try to implement it but right now I can't promise any specific date. I will let you know when it's ready.

[2021-05-27 16:09] cezarypiatek commented on #115
I finally managed to track down the source of the performance issues. The slow down was caused by the post-processing run by VS on the generated code. Fix should be available in the next version of MappingGenerator planned for June 2021.

[2021-05-30 14:07] Serg046 commented on #140
I started to work on this but finally realized that current code base is quite dependent on SyntaxGenerator which is not avalaible for source generators. Then found this one https://github.com/dotnet/roslyn/issues/43821 where the owner already discussed that. So we either wait for SyntaxGenerator to be exposed somehow or create a new abstraction for generation.

[2021-06-01 15:06] cezarypiatek commented on #115
Hi @bugrakosen, @M-Clk
A new version with the fix has been released. Please update your MappingGeneration installation.
If you are still experiencing performance issue, then please report it in the new IssueTracker https://github.com/cezarypiatek/MappingGeneratorIssueTracker

[2021-06-01 15:12] cezarypiatek commented on #7
The new version of MappingGenerator have a nice UI configure which allows to control how unmapped target fields are handled.

![image](https://user-images.githubusercontent.com/7759991/120347223-60696880-c2fc-11eb-8738-352627570148.png)

Please update your MappingGenerator extension.

If you have further suggestion please report them via the new issue tracker https://github.com/cezarypiatek/Mappin

[2021-06-01 15:19] M-Clk commented on #115
I will try ASAP. Thank you

[2021-06-01 15:22] cezarypiatek commented on #170
Hi @kszicsillag

This refactoring option is not using the constructor because it's strictly intended for completing the initialization blocks.
In the case of regular mapping, a record primer constructor should be automatically picked up.

The new version of MappingGenerator contains a refactoring for generating this kind of lambda expression from the scratch.
![6glQjkHLPn](https://user-images.gith

[2022-01-16 08:23] cezarypiatek commented on #149
The premium version contains an advanced method invocation scaffolder that allows for this kind of formatting.

![image](https://user-images.githubusercontent.com/7759991/149652533-5089aa2a-6ea6-4a3d-b3fd-4b9e58e2d468.png)

More details about this feature in doc https://docs.mappinggenerator.net/invocation-scaffolding/invocation-scaffolder/
The Premium license can be acquired on the official webpa

[2022-01-16 08:23] #149 closed